﻿@model TemplateApplication.Models.ViewModels.ListingViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")

    <style type="text/css">
        .fa-circle {
            font-size: 50% !important;
            padding-bottom: 3px !important;
            display: inline-table !important;
            vertical-align: bottom !important;
        }
    </style>
}

<div class="portlet light col-md-12">
    <!-- This hidden input holds the URL the user should be redirected to. -->
    @Html.Partial("_RedirectInput")
    <div class="portlet-title"><h1>Edit Listing</h1></div>
    <hr />
    <div class="note note-danger note-shadow">
        Changing the listing using this utility will not affect the subscription for this listing.
        This tool is meant for administrators to fix issues with a listing or edit the listing when initially imported.
        If you would like to modify the listing for the customer where charges may be necessary use the <a href="/Listings/Create?listingIdentifier=@Model.Listing.ListingID" class="btn blue">Configure Listing</a> page.
    </div>
    <div class="portlet-body">
        <form id="listing-form" class="form-horizontal form">
            @Html.AntiForgeryToken()
            <div class="form-body">
                @Html.Partial("_Partial1", Model)
                @Html.Partial("_Partial2", Model)
                @Html.Partial("_Partial3", Model)
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn blue pull-right">Save Listing</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")
    <script src="~/Scripts/Listings/InitializeListingForm.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#listing-form").validate({
                //// This option changes the default ignore functionality so bootstrap selects can be validated.
                ignore: ":not(select:hidden, input:visible, textarea:visible), .ignore",
                //// Default input error message container,
                errorElement: 'span',
                //// Default input error message class.
                errorClass: 'help-block help-block-error',
                //// Do not focus the last invalid input.
                focusInvalid: false,
                rules: {
                    'Listing[BusinessName]': {
                        required: true
                    },
                    'Listing[BusinessContact]': {
                        required: true
                    },
                    'Listing[ContactNumber]': {
                        required: true,
                    },
                    'Listing[ContactEmail]': {
                        required: true,
                    },
                    'Listing[Website]': {
                        required: true,
                    },
                    'Listing[Address][Street1]': {
                        required: true
                    },
                    'Listing[Address][City]': {
                        required: true
                    },
                    'Listing[Address][StateID]': {
                        required: true
                    },
                    'Listing[Address][Zip]': {
                        required: true
                    },
                    'Listing[Description]': {
                        required: true
                    },
                    'Listing[ProductDescription]': {
                        required: true
                    },
                    'Listing[IndustryList][][IndustryID]': {
                        required: true
                    }
                },

                messages: {
                    'Listing[BusinessName]': {
                        required: "Please provide your businesses name."
                    },
                    'Listing[BusinessContact]': {
                        required: "Please provide a name for your business contact."
                    },
                    'Listing[ContactNumber]': {
                        required: "Please provide a contact number for your business.",
                    },
                    'Listing[ContactEmail]': {
                        required: "Please provide a contact email for your business.",
                    },
                    'Listing[Website]': {
                        required: "Please provide a url to your business wensite.",
                    },
                    'Listing[Address][Street1]': {
                        required: "Please provide your street address."
                    },
                    'Listing[Address][City]': {
                        required: "Please provide your City."
                    },
                    'Listing[Address][StateID]': {
                        required: "Please select a state."
                    },
                    'Listing[Address][Zip]': {
                        required: "Please provide your zip code."
                    },
                    'Listing[Description]': {
                        required: "Please provide a description of your business."
                    },
                    'Listing[ProductDescription]': {
                        required: "Please provide a description of the products / services your business offers."
                    },
                    'Listing[IndustryList][][IndustryID]': {
                        required: "Please select at least one industry for your business."
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.attr("name") == "Listing[Address][StateID]")
                        error.insertAfter("#state-select-container .bootstrap-select");
                    else if (element.attr("name") == "Listing[IndustryList][][IndustryID]")
                        error.insertAfter("#industry-select-container .bootstrap-select");
                    else {
                        // For all other inputs, the default behavior.
                        error.insertAfter(element);
                    }
                },

                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },

                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },

                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },

                submitHandler: function (form) {
                    debugger;
                    var listing = $(form).serializeObject();
                    AjaxMethods.UpsertListing(listing).done(function () {
                        var redirectURL = $("#redirect-target-input").val();
                        window.location.href = redirectURL;
                    }).fail(function () {
                        bootbox.alert("There was an issue when creating this listing.");
                    });
                }
            });

            // Needed to validate the bootstrap selects correctly.
            $('#listing-form select').on('change', function (e) {
                $('#listing-form').validate().element($(this));
            });
        });
    </script>
}
