﻿@using Models.Models
@model Listing

@{
    ViewBag.Title = "FullDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    <style type="text/css">
        .blockElement {
            width: 100% !important;
        }
    </style>
}

<div class="portlet light col-md-12">
    @Html.AntiForgeryToken()
    <div class="portlet-title">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.BusinessName <a class="btn btn-default" href="/Listings/AdminEdit/@Model.ListingID">Admin Edit Listing</a></h1>

                @if (Model.CurrentSubscription == null)
                {
                    <div id="cancel-container" class="@(Model.CancelledDate.HasValue ? "hidden" : "")">
                        <button id="cancel-listing-button" type="button" class="btn btn-danger" data-listing-identifier="@Model.ListingID">Cancel Listing</button>
                    </div>

                    <div id="clear-cancel-container" class="@(Model.CancelledDate.HasValue ? "" : "hidden")">
                        <button id="clear-cancel-listing-button" type="button" class="btn blue" data-listing-identifier="@Model.ListingID">Remove Cancelled Flag</button>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4"><strong>Owner Username:</strong></label>
                    <div class="col-md-8">
                        @Model.OwnerUserName
                    </div>
                </div>
            </div>
            @if (@Model.StripeCustomerID != null)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4"><strong>Stripe Customer ID:</strong></label>
                        <div class="col-md-8">
                            @Model.StripeCustomerID
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4"><strong>Listing Type:</strong></label>
                    <div class="col-md-8">
                        <span class="badge badge-roundless badge-success">@Model.Type</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="portlet-body">
        @if (Model.CancelledDate.HasValue)
        {
            <div class="note note-danger note-shadow">This listing was marked as cancelled on: <strong>@Model.CancelledDate.Value.ToShortDateString()</strong>.</div>
        }
        <div id="listing-detail-container" class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4"><strong>Contact:</strong></label>
                            <div class="col-md-8">
                                @Model.BusinessContact
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4"><strong>Contact Email:</strong></label>
                            <div class="col-md-8">
                                @Model.ContactEmail
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4"><strong>Contact Number:</strong></label>
                            <div class="col-md-8">
                                @Model.ContactNumber
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#current-subscription-content" data-toggle="tab" aria-expanded="true">
                                <strong>Current Subscription</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#subscription-history-content" data-toggle="tab" aria-expanded="false">
                                <strong>Subscription History</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#order-history-content" data-toggle="tab" aria-expanded="false">
                                <strong>Order History</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#listing-notes-content" data-toggle="tab" aria-expanded="false">
                                <strong>Listing Notes</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="current-subscription-content">
                            <div class="col-md-12">
                                @if (Model.CurrentSubscription != null)
                                {
                                    @Html.Partial("_SubscriptionDetail", Model.CurrentSubscription)

                                    if (Model.CurrentSubscription.CancelledDate.HasValue)
                                    {
                                        <a href="/Subscriptions/Reactivate/@Model.CurrentSubscription.SubscriptionID" class="btn btn-default pull-right blue">Reactivate Subscription</a>
                                        <div class="clearfix"></div>
                                    }
                                    else
                                    {
                                        <!-- This button will redirect the user to the cancel subscription page passing the subscription identifier. -->
                                        <a href="/Listings/Create?listingIdentifier=@Model.ListingID" class="btn btn-default blue">Modify Listing Subscription</a>
                                        <a href="/Subscriptions/Cancel/@Model.CurrentSubscription.SubscriptionID" class="btn btn-default red">Cancel Subscription</a>
                                        <div class="clearfix"></div>
                                    }
                                }
                                else
                                {
                                    <div class="note note-danger note-shadow">There is no active subscription for this listing.</div>
                                    <a href="/Listings/Create?listingIdentifier=@Model.ListingID" class="btn btn-default pull-right blue">Purchase New Subscription</a>
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="subscription-history-content">
                            <div class="col-md-12">
                                <table id="subscriptions-table" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID#</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Renewal Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var subscription in Model.Subscriptions)
                                        {
                                            <tr>
                                                <td>@subscription.SubscriptionID</td>
                                                <td>@subscription.StartDateDisplay</td>
                                                <td>@subscription.EndDateDisplay</td>
                                                <td>@subscription.RenewalDateDisplay</td>
                                                <td><button type="button" class="btn btn-default btn-xs blue view-subscription-button" data-subscription-identifier="@subscription.SubscriptionID">View</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="order-history-content">
                            <div class="col-md-12">
                                <table id="orders-table" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Order #</th>
                                            <th>Created</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in Model.Orders)
                                        {
                                            <tr>
                                                <td>#@order.OrderNumber</td>
                                                <td>@order.CreateDate</td>
                                                <td>@order.OrderTotalDisplay</td>
                                                @if (order.Status.Equals("Paid"))
                                                {
                                                    <td><span class="label label-sm label-success">@order.Status</span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="label label-sm label-danger">@order.Status</span></td>
                                                }
                                                <td><button class="btn btn-default btn-xs blue view-order-button" type="button" data-order-identifier="@order.OrderID">View</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="listing-notes-content">
                            <div class="col-md-12">
                                <div id="notes-detail-container">
                                    @Html.Partial("_ListingNotes", Model.Notes)
                                </div>
                                <button id="add-note-button" class="btn blue" type="button">Add Note</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View order modal window.  -->
<div class="modal" id="view-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">Order Details</h2>
            </div>
            <div id="order-modal-body" class="modal-body">
                <div id="order-detail-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- View subscription modal window.  -->
<div class="modal" id="view-subscription-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">Subscription Details</h2>
            </div>
            <div id="subscription-modal-body" class="modal-body">
                <div id="subscription-detail-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- View notes modal window.  -->
<div class="modal" id="add-note-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">Add Listing Note</h2>
            </div>
            <div id="add-note-modal-body" class="modal-body">
                <div id="add-note-container">
                    <form id="new-note-form">
                        <input type="hidden" value="@Model.ListingID" name="Note[ListingID]" />
                        <textarea id="note-text" class="form-control" name="Note[NoteText]"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-note-button" type="button" class="btn blue" data-dismiss="modal">Save Note</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#orders-table").DataTable({
                "columnDefs": [{ "targets": 4, "orderable": false }],
                "language":
                {
                    "lengthMenu": "Display _MENU_",
                    "zeroRecords": "There are no orders for this listing.",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Search "
                },
                "order": [[1, "desc"]]
            });

            $("#subscriptions-table").DataTable({
                "columnDefs": [{ "targets": 4, "orderable": false }],
                "language":
                {
                    "lengthMenu": "Display _MENU_",
                    "zeroRecords": "There are no subscriptions for this listing.",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Search "
                },
                "order": [[0, "desc"]]
            });

            $('.view-order-button').click(function () {
                var orderIdentifier = $(this).data("order-identifier");
                $("#order-detail-container").html("");
                $('#view-order-modal').modal('show');

                Metronic.blockUI({
                    target: '#order-detail-container',
                    overlayColor: 'none',
                    animate: true,
                    centerX: true
                });

                AjaxMethods.GetOrderDetailsHTML(orderIdentifier)
                    .done(function (data) {
                        $("#order-detail-container").html(data);
                        Metronic.unblockUI('#order-detail-container');
                    })
                    .fail(function () {
                        bootbox.alert("Oops, something went wrong.");
                        Metronic.unblockUI('#order-detail-container');
                    });

            });

            $('.view-subscription-button').click(function () {
                var subscriptionIdentifier = $(this).data("subscription-identifier");
                $("#subscription-detail-container").html("");
                $('#view-subscription-modal').modal('show');

                Metronic.blockUI({
                    target: '#subscription-detail-container',
                    overlayColor: 'none',
                    animate: true,
                    centerX: true
                });

                AjaxMethods.GetSubscriptionDetailsHTML(subscriptionIdentifier)
                    .done(function (data) {
                        $("#subscription-detail-container").html(data);
                        Metronic.unblockUI('#subscription-detail-container');
                    })
                    .fail(function () {
                        Metronic.unblockUI('#subscription-detail-container');
                    });
            });

            /* Javascript for the notes functionality. */
            // Display the modal dialog so a user can add a note.
            $("#add-note-button").click(function () {
                $('#add-note-modal').modal('show');
            });

            // Event for saving the note.
            $("#save-note-button").click(function () {
                var serializedObject = $("#new-note-form").serializeObject();
                var listingIdentifier = serializedObject.Note.ListingID;
                AjaxMethods.SaveListingNote(serializedObject.Note).done(function () {
                    $('#add-note-modal').modal("hide");
                    AjaxMethods.GetListingNotes(listingIdentifier).done(function (data) {
                        $("#notes-detail-container").html(data);
                    }).fail(function () {
                        bootbox.alert("there was an issue retrieving your notes.");
                    });
                }).fail(function () {
                    bootbox.alert("An error was encountered when saving your note.");
                });
                $('#note-text').val("");
            });

            $("#cancel-listing-button").click(function () {
                var listingIdentifier = $(this).data("listing-identifier");
                AjaxMethods.CancelListing(listingIdentifier).done(function (data) {
                    if (data.success) {
                        $("#cancel-container").addClass("hidden");
                        $("#clear-cancel-container").removeClass("hidden");
                        bootbox.alert("This listing has been marked as cancelled.");
                    } else {
                        bootbox.alert("This listing could not be cancelled. Please try again.");
                    }
                }).fail(function () {
                    bootbox.alert("There was an issue performing this action. Please try again.");
                });
            });

            $("#clear-cancel-listing-button").click(function () {
                var listingIdentifier = $(this).data("listing-identifier");
                AjaxMethods.ClearCancelledListingFlag(listingIdentifier).done(function (data) {
                    if (data.success) {
                        $("#clear-cancel-container").addClass("hidden");
                        $("#cancel-container").removeClass("hidden");
                        bootbox.alert("This cancelled flag for this listing has been removed.");
                    } else {
                        bootbox.alert("This cancelled flag for this listing could not be cleared. Please try again.");
                    }
                }).fail(function () {
                    bootbox.alert("There was an issue performing this action. Please try again.");
                });
            });



        });
    </script>
}
