﻿@using Models.Models
@model TemplateApplication.Models.ViewModels.ListingDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/admin/pages/css/TradeLeadDetails")

    <style type="text/css">
        .test {
            background-color: #E8F3FD;
            padding: 10px;
            margin-bottom: 10px;
        }

        ul.blog-tags a {
            background: #eee;
            padding: 1px 4px;
            margin: 0 4px 4px 0;
            display: inline-block;
        }

        i {
            color: #78ccf8;
            font-size: 12px;
            margin-right: 5px;
        }
    </style>
}

@section PageTitle {
    Listing Details
}

<div class="portlet light portlet light col-md-offset-1 col-md-10">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        if (Model.Message.Equals("ListingSaved"))
        {
            <div class="note note-success note-shadow">
                Your business listing has been saved successfully!
            </div>
        }
    }
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-12">
                    <h2><strong>@Model.Listing.BusinessName</strong></h2>
                    <ul class="list-inline blog-tags">
                        <li>
                            @if (Model.Listing.IndustryList != null && Model.Listing.IndustryList.Any())
                            {
                                foreach (Industry industry in Model.Listing.IndustryList)
                                {
                                    <a>
                                        <i class="fa fa-tags"></i>
                                        @industry.Name
                                    </a>
                                }
                            }
                            else
                            {
                                <span>No industries specified.</span>
                            }
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h3>Contact Information</h3>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Contact:</strong></label>
                                <div class="col-md-8">
                                    @Model.Listing.BusinessContact
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Number:</strong></label>
                                <div class="col-md-8">
                                    @Model.Listing.ContactNumber
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Fax:</strong></label>
                                <div class="col-md-8">
                                    @Model.Listing.FaxNumber
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Email:</strong></label>
                                <div class="col-md-8">
                                    @Model.Listing.ContactEmail
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Website:</strong></label>
                                <div class="col-md-8">
                                    @Model.Listing.Website
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="form-section">Address</h3>
                    <hr />
                    @if (Model.Listing.Address != null)
                    {
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><strong>Street:</strong></label>
                                    <div class="col-md-8">
                                        @Model.Listing.Address.Street1
                                    </div>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Listing.Address.Street2))
                            {
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><strong>Street:</strong></label>
                                        <div class="col-md-8">
                                            @Model.Listing.Address.Street2
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><strong>City:</strong></label>
                                    <div class="col-md-8">
                                        @Model.Listing.Address.City
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><strong>State:</strong></label>
                                    <div class="col-md-8">
                                        @Model.Listing.Address.State
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><strong>Zip:</strong></label>
                                    <div class="col-md-8">
                                        @Model.Listing.Address.Zip
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="note note-danger note-shadow">
                            No address information on file.
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    <h3 class="form-section">Description Codes</h3>
                    <hr />
                    @if (Model.Listing.DescriptionLines != null && Model.Listing.DescriptionLines.Any())
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr class="uppercase">
                                                <th>
                                                    Code
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var description in Model.Listing.DescriptionLines)
                                            {
                                                <tr>
                                                    <td>
                                                        @description.Code
                                                    </td>
                                                    <td>
                                                        @description.Body
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="note note-danger note-shadow">
                            No description information on file.
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-5">
                <div class="test col-md-12">
                    <h3>About <strong>@Model.Listing.BusinessName</strong></h3>
                    @Model.Listing.Description
                </div>

                <div class="test col-md-12">
                    <h3><strong>Products / Services</strong></h3>
                    @Model.Listing.ProductDescription
                </div>
            </div>
        </div>
    </div>
</div>