﻿@model TemplateApplication.Models.ViewModels.DowngradeSubscriptionModel

@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light col-md-offset-3 col-md-6">
    <div class="row">
        <h3 class="col-md-12">Your new subscription, billed yearly will become: @Model.NewSubscriptionCostDisplay.</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.PreviewListing.Directories.Count() > 1)
            {
                <div>Your business will be listed in @Model.PreviewListing.Directories.Count() directories.</div>
            }
            else
            {
                <div>Your business will be listed in @Model.PreviewListing.Directories.Count() directory.</div>
            }

            @if (Model.PreviewListing.DescriptionLines.Count() != 1)
            {
                <div>You can provide @Model.PreviewListing.DescriptionLines.Count() description lines with your listing.</div>
            }
            else
            {
                <div>You can provide @Model.PreviewListing.DescriptionLines.Count() description lines with your listing.</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form" role="form" action="/Listings/Purchase" method="POST">
                @Html.AntiForgeryToken()
                <button class="btn blue">Confirm Subscription Change</button>
            </form>
        </div>
    </div>

</div>