﻿@model TemplateApplication.Models.ViewModels.ListingViewModel

@{
    ViewBag.Title = "NewListingWizard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle {
    View Listings
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")

    <style type="text/css">
        .form-wizard .steps {
            padding: 0;
            margin-bottom: 5px;
        }

        .form .form-section {
            margin: 0 0 0 0 !important;
            padding-bottom: 0 !important;
        }
    </style>
}

@Html.Partial("_ListingWizardForm", Model)


@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <!-- JavaScript used to power the listing wizard. -->
    <script src="~/Scripts/Listings/InitializeListingForm.js"></script>
    <script src="~/Scripts/Listings/form-wizard.js"></script>

    <script type="text/javascript">
        // Initialize the javascript used to set up the listing wizard.
        $(document).ready(function () {
            FormWizard.init();
        });
    </script>
}