﻿@model TemplateApplication.Models.ViewModels.ListingSummaryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")

    <style type="text/css">
        .hiddens {
            display: none;
        }

        #listing-detail-container .form-group {
            margin-bottom: 0 !important;
        }

        #listing-search-container .well {
            padding: 10px;
        }

        #ListingQuickViewModal hr {
            margin-top: 0 !important;
            margin-bottom: 5px !important;
        }

        .blog-page hr {
            margin-top: 0 !important;
        }

        .portlet > .portlet-title > .caption {
            font-size: 26px;
        }

        .listing-portlet .actions {
            font-size: 16px;
        }
    </style>
}

@section PageTitle {
    Business Listings
}

<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div id="listing-search-container" class="col-sm-12 col-md-3">
                <div class="well">
                    <h3 style="margin-top: 0">Search Listings</h3>
                    <form id="AdvancedSearchForm" class="form-horizontal form-bordered">
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="search[Keyword]" class="form-control" value="@Model.PassedKeyword" placeholder="Keyword">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select id="directory-select" class="form-control" name="search[DirectoryID]" title='All Directories'>
                                                <option value="">All Directories</option>
                                                @foreach (var directory in Model.Directories)
                                                {
                                                    if (Model.PassedDirectoryID.HasValue && Model.PassedDirectoryID.Value == directory.DirectoryID)
                                                    {
                                                        <option value="@directory.DirectoryID" selected="selected">@directory.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@directory.DirectoryID">@directory.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select id="industry-select" class="form-control" name="search[IndustryIDs][]" data-live-search="true" data-selected-text-format="count" title="All Industries" multiple>
                                                @foreach (var industry in Model.SelectIndustries)
                                                {
                                                    if (Model.PassedIndustryID.HasValue && Model.PassedIndustryID.Value == industry.IndustryID)
                                                    {
                                                        <option value="@industry.IndustryID" selected="selected">@industry.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@industry.IndustryID">@industry.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select id="state-select" class="form-control" name="search[StateID]" title='All States'>
                                                <option value="">All States</option>
                                                @foreach (var state in Model.States)
                                                {
                                                    if (Model.PassedStateID.HasValue && Model.PassedStateID.Value == state.StateID)
                                                    {
                                                        <option value="@state.StateID" selected="selected">@state.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@state.StateID">@state.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue pull-right">Search</button>
                            <div style="clear: both;"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-9 blog-page">
                <div id="SummaryDiv">
                    @Html.Partial("_ListingSummary", Model.Listings)
                </div>
                <div id="no-results-alert" class="note note-shadow note-danger @(@Model.Listings.Any() ? "hiddens" : "")">
                    No results found, please modify your search conditions and try again.
                </div>
                <button id="LoadButton" class="btn blue btn-block @(@Model.Listings.Any() ? "" : "hiddens")" data-page-number="1" data-loading-text="Loading....">Load More</button>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-3 col-sm-3 blog-sidebar">
                <h3 class="text-center">Industries</h3>
                <hr />
                @if (Model.IndustryCounts != null && Model.IndustryCounts.Any())
                {
                    <div class="blog-tag-data">
                        <ul class="list-inline blog-tags">
                            <li>
                                @foreach (var industry in Model.IndustryCounts)
                                {
                                    <a href="/Listings?industry=@industry.IndustryID">
                                        <i class=" fa fa-tags"></i>
                                        @industry.Name (@industry.IndustryCount)
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="note note-shadow note-info">There are no businesses with industry tags in our system currently.</div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal dialog used to display additional details for a listing. -->
<div class="modal" id="ListingQuickViewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="col-md-12 news-page blog-page">
                    <div class="row">
                        <div id="listing-detail-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")

    <script>
        (function () {
            $(document).ready(function () {
                // Add a listener for the quick view buttons with the .modal-button class.
                // Added to the body so dynamic elements will work correctly.
                $('body').on('click', '.modal-button', function () {
                    var listingID = $(this).data("listing-id");
                    AjaxMethods.GetListingDetailsHTML(listingID)
                        .done(function (data) {
                            $("#listing-detail-container").html(data);
                            $('#ListingQuickViewModal').modal('show');
                        })
                        .fail(function () {
                            bootbox.alert("Oops, something went wrong.");
                        });
                });

                $('#state-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check'
                });

                $('#industry-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check',
                    size: 8
                });

                $('#directory-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check',
                    size: 8
                });

                $("#LoadButton").click(function () {
                    var $loadButton = $(this);
                    $loadButton.button('loading');
                    var currentPage = parseInt($loadButton.data("page-number"), 10);
                    var nextPage = currentPage + 1;
                    // Grab the search criteria from the search form.
                    var search = $("#AdvancedSearchForm").serializeObject();
                    AjaxMethods.SearchListings(search, nextPage, 25)
                        .done(function (data) {
                            $loadButton.button('reset');
                            // If no HTML is returned, there are no more results.
                            if ($.trim(data) === "") {
                                $("#no-results-alert").show();
                                $loadButton.hide();
                            }
                            else {
                                $("#SummaryDiv").append(data);
                                $loadButton.data("page-number", nextPage);
                            }
                        })
                        .fail(function () {
                            $loadButton.button('reset');
                            bootbox.alert("Oops, something went wrong.");
                        });
                });

                // Override the default functionalty of the form submit.
                $("#AdvancedSearchForm").submit(function (e) {
                    var form = $(this);
                    var search = form.serializeObject();
                    Metronic.startPageLoading({ animate: true });

                    AjaxMethods.SearchListings(search, 1, 25)
                        .done(function (data) {
                            if ($.trim(data) === "") {
                                $("#no-results-alert").show();
                                $("#LoadButton").hide();
                            } else {
                                $("#no-results-alert").hide();
                                $("#LoadButton").show();
                            }
                            Metronic.stopPageLoading();
                            $("#SummaryDiv").html(data);
                        })
                        .fail(function () {
                            Metronic.stopPageLoading();
                            bootbox.alert("Oops, something went wrong.");
                        });
                    $("#LoadButton").data("page-number", 1);
                    return false;
                });
            });
        }());
    </script>
}