﻿@model TemplateApplication.Models.ViewModels.ListingOrderViewModel

@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <div class="col-md-6">
            @if (@Model.CurrentSubscription != null)
            {
                <!-- Display the subscription change information. -->
                <!-- This will be displayed when a listing with a current subscription is upgraded. -->
                <!-- It will display the current subscription cost and what the cost would be after upgrading. -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <h3>Your subscription will be upgraded from @Model.CurrentSubscription.SubscriptionCostDisplay to @Model.ListingSubscriptionCostDisplay a year.</h3>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <!-- If there is no current subscription or the listing is new, show what the yearly subscription will be. -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <h3>Your yearly subscription will be @Model.ListingSubscriptionCostDisplay.</h3>
                        </div>
                    </div>
                </div>
            }
            

            <div class="portlet light">
                <div class="portlet-title">
                    <h2>Order Summary</h2>
                    <hr />
                </div>
                <div class="portlet-body">
                    <!-- Display the preview order partial view. -->
                    @Html.Partial("_PreviewOrder", Model.Order)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <h2>Credit Card Details</h2>
                    <hr />
                </div>
                <div class="portlet-body">
                    @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                    <form id="payment-form" class="form" role="form" action="/Listings/Purchase" method="POST">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ListingIdentifier)
                        <!-- Section to display any errors returned by Stripe. -->
                        <span class="payment-errors"></span>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Card Number</strong></label>
                                    <input id="number" class="form-control" type="text" size="20" data-stripe="number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>CVC</strong></label>
                                    <input id="cvc" class="form-control" type="text" data-stripe="cvc" />
                                </div>
                            </div>
                        </div>

                        @{
                            int currentYear = DateTime.Now.ToUniversalTime().Year;
                        }

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Expiration Month</strong></label>
                                    <div id="expiration-month-container">
                                        <select id="expiration-month-select" class="form-control" title="Select Month" data-stripe="exp-month">
                                            <option></option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Expiration Year</strong></label>
                                    <div id="expiration-year-container">
                                        <select id="expiration-year-select" title="Select Year" class="form-control" data-stripe="exp-year">
                                            <option></option>
                                            @for (int i = currentYear; i <= currentYear + 12; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Name</strong></label>
                                    <input id="name" class="form-control" type="text" size="20" data-stripe="name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Street 1</strong></label>
                                    <input id="street1" class="form-control" type="text" size="20" data-stripe="address_line1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Street 2</strong></label>
                                    <input class="form-control" type="text" size="20" data-stripe="address_line2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><strong>City</strong></label>
                                    <input id="city" class="form-control" type="text" size="20" data-stripe="address_city" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div id="state-container">
                                        <label class="control-label"><strong>State</strong></label>
                                        <div id="state-select-container">
                                            <select id="state-select" title="Select State" data-stripe="address_state">
                                                <option></option>
                                                @foreach (var state in Model.States)
                                                {
                                                    <option value="@state.Abbreviation">@state.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div id="state-container">
                                        <label class="control-label"><strong>Zip</strong></label>
                                        <input id="zip" class="form-control" type="text" size="20" data-stripe="address_zip" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="submit-button" type="submit" class="btn blue pull-right">Place Order</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/Scripts/global/PaymentFormInitialization.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")

    <script type="text/javascript">

        $(document).ready(function () {
            // This identifies your website in the createToken call below
            Stripe.setPublishableKey('pk_test_z6EHIkg5eoUDtcJpyZeNcavM');

            // Form used to update the payment method for this user.
            var createCreditCardToken = function () {
                var $form = $("#payment-form");
                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);
                // Prevent the form from submitting with the default action
                return false;
            };

            $(document).on("paymentFormSubmitted", createCreditCardToken);

            function stripeResponseHandler(status, response) {
                var $form = $('#payment-form');
                if (response.error) {
                    // Show the errors on the form..
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                    bootbox.alert("The payment method you provided is invalid. Please try another credit card.");
                }
                else {
                    // Response contains id and card, which contains additional card details.
                    var token = response.id;
                    // Insert the genrated token into the form so it gets submitted to the server.
                    $form.append($('<input type="hidden" name="cardToken" />').val(token));
                    $form.get(0).submit();
                }
            };
        });
    </script>
}
