﻿@model TemplateApplication.Models.ViewModels.PurchaseConfirmationViewModel

@{
    ViewBag.Title = "PurchaseConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light col-md-offset-3 col-md-6">
    <div class="portlet-body">
        <div class="row">
            <h2 class="col-md-12">
                Your subscription has been created successfully!
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12">Your subscription will be billed yearly at @Model.SubscriptionCostDisplay.</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/Listings/Details/@Model.ListingIdentifier" class="btn blue">View Your Listing!</a>
            </div>
        </div>
    </div>
</div>