﻿@model TemplateApplication.Models.ViewModels.LocalPasswordModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style type="text/css">
        /* This is a fix for the padding around the google maps window. */
        .portlet.light {
            padding: 3px 23px 15px 23px;
        }
    </style>
}

@section PageTitle {
    Contact Us
}

<div class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <!-- Google Map -->
                <div class="row">
                    <div id="map" class="gmaps margin-bottom-40" style="height:350px;">
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-6">
                        <h3 class="form-section">Contacts</h3>
                        <p>
                            Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer adipiscing elit.
                        </p>
                        <div class="well">
                            <h4>Address</h4>
                            <address>
                                <strong>Loop, Inc.</strong><br>
                                795 Park Ave, Suite 120<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (234) 145-1810
                            </address>
                            <address>
                                <strong>Email</strong><br>
                                <a href="mailto:#">
                                    first.last@email.com
                                </a>
                            </address>
                            <ul class="social-icons margin-bottom-10">
                                <li>
                                    <a href="javascript:;" data-original-title="facebook" class="facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-original-title="twitter" class="twitter">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-original-title="Google Plus" class="googleplus">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-original-title="linkedin" class="linkedin">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN FORM-->
                        <form id="contact-form" class="form-horizontal" role="form">
                            <div class="form-body">
                                @Html.AntiForgeryToken()
                                <h3 class="form-section">Feedback</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer
                                </p>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="subject-textbox" type="text" name="Message[Subject]" class="form-control" placeholder="Subject" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="name-textbox" type="text" name="Message[Name]" class="form-control" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="email-textbox" type="email" name="Message[Email]" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="feedback-textarea" class="form-control" name="Message[Body]" rows="3" placeholder="Feedback"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn blue pull-right" data-loading-text="Sending Email...">Submit</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/jQueryValidation")
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/pages/scripts/contact-us.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            ContactUs.init();

            // jQuery validation for the change password form.
            var contactForm = $('#contact-form');
            contactForm.validate({
                // Default input error message container.
                errorElement: 'span',
                // Default input error message class.
                errorClass: 'help-block help-block-error',
                // Do not focus the last invalid input.
                focusInvalid: false,
                rules: {
                    'Message[Subject]': {
                        required: true
                    },
                    'Message[Email]': {
                        required: true,
                        email: true
                    },
                    'Message[Body]': {
                        required: true
                    }
                },
                messages: {
                    'Message[Subject]': {
                        required: "Please provide a subject."
                    },
                    'Message[Email]': {
                        required: "Please provide your email address.",
                        email: "Please provide a valid email address."
                    },
                    'Message[Body]': {
                        required: "Please provide your feedback."
                    }
                },
                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },

                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },

                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                submitHandler: function (form) {
                    var $submitButton = $(form).find(":submit");
                    $submitButton.button("loading");
                    var serializedObject = $(form).serializeObject();
                    AjaxMethods.SendContactEmail(serializedObject.Message)
                        .done(function () {
                            bootbox.alert("Email sent successfully.");
                            $submitButton.button('reset');
                        })
                        .fail(function () {
                            bootbox.alert("Email failed to send successfully.");
                            $submitButton.button('reset');
                        });
                }
            });
        });
    </script>
}