﻿
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="portlet light">
            <div class="portlet-title">
                <h2>Privacy Policy</h2>
            </div>
        </div>
    </div>
</div>
