﻿@model Models.Models.Subscription

@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light col-md-12">
    @Html.Partial("_RedirectInput")
    <div class="portlet-title"><h1>Cancel Subscription</h1></div>
    <hr />
    <div class="portlet-body">
        <form id="cancel-subscription-form">
            @Html.AntiForgeryToken()
            <div class="form-body">
                @if (Model != null)
                {
                    @Html.Partial("_SubscriptionDetail", Model)
                }
            </div>
            <div class="form-actions">
                <button id="cancel-subscription-button" type="submit" class="btn blue">Cancel Subscription</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#cancel-subscription-form").submit(function (e) {
                bootbox.confirm("Are you sure you'd like to cancel this subscription?", function (result) {
                    if (result === true) {
                        var form = $("#cancel-subscription-form").serializeObject();
                        var listingIdentifier = form.ListingIdentifier;
                        debugger;
                        AjaxMethods.CancelSubscription(listingIdentifier).done(function () {
                            var redirectURL = $("#redirect-target-input").val();
                            window.location.href = redirectURL;
                        }).fail(function () {
                            alert("there was an issue with cancelling.");
                        });
                    }
                });
                e.preventDefault();
            });
        });
    </script>
}