﻿@model Models.Models.Subscription

@{
    ViewBag.Title = "Reactivate";
    Layout = ViewBag.Layout;
}

<div class="portlet light col-md-12">
    @Html.Partial("_RedirectInput")
    <div class="portlet-title"><h1>Reactivate Subscription</h1></div>
    <hr />
    <div class="portlet-body">
        <form id="reactivate-subscription-form">
            <div class="form-body">
                @if (Model != null)
                {
                    @Html.Partial("_SubscriptionDetail", Model)
                }
            </div>
            <div class="form-actions">
                <button id="reactivate-subscription-button" type="submit" class="btn blue">Reactivate Subscription</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#reactivate-subscription-form").submit(function (e) {
                bootbox.confirm("Are you sure you'd like to reactivate this subscription?", function (result) {
                    if (result === true) {
                        var form = $("#reactivate-subscription-form").serializeObject();
                        var listingIdentifier = form.ListingIdentifier;

                        AjaxMethods.ReactivateSubscription(listingIdentifier).done(function () {
                            var redirectURL = $("#redirect-target-input").val();
                            window.location.href = redirectURL;
                        }).fail(function (data) {
                            bootbox.alert(data);
                        });
                    }
                });
                e.preventDefault();
            });
        });
    </script>
}