﻿@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light col-md-offset-3 col-md-6">
    <div class="portlet-body">
        <h2>Thanks for paying your order!</h2>
        <a href="/Listings/Details/@ViewBag.ListingID" class="btn blue">View My Listing</a>
    </div>
</div>