﻿@model TemplateApplication.Models.ViewModels.DeleteOrderViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>Delete Order</h2>
        <hr />
    </div>
    <div class="portlet-body">
        <form id="delete-order-form" action="/Orders/DeleteUnpaidOrder" method="POST">
            <input id="hidden-order-identifier" type="hidden" name="orderIdentifier" value="@Model.Order.OrderID" />
            <input id="hidden-order-invoiced" type="hidden" value="@Model.OrderInvoiced.ToString()" />
            @Html.Partial("_Order", Model.Order)
            <button type="submit" class="btn btn-danger">Delete Order</button>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // Submit event handler for the delete order form.
            // If invoice dates are present when submitting the form, a confirmation message is displayed.
            $("#delete-order-form").submit(function (event) {
                event.preventDefault();
                var $form = $(this);

                bootbox.confirm("Are you sure you would like to delete this order?", function (confirmResult) {
                    if (confirmResult === true) {
                        var orderInvoiced = $("#hidden-order-invoiced").val();
                        if (orderInvoiced == 'True') {
                            var confirmString = "This order has associated invoice dates. Are you sure you would like to delete it? It may have been sent to the customer.";
                            bootbox.confirm(confirmString, function (result) {
                                if (result === true) {
                                    // Allow the form submit to continue if the user confirms the deletion.
                                    $form.unbind("submit").submit();
                                }
                            });
                        } else {
                            // Submit right away if the order has not been invoiced.
                            $form.unbind("submit").submit();
                        }
                    }
                });
            });
        });

    </script>
}

