﻿@model TemplateApplication.Models.ViewModels.ViewOrdersModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <style type="text/css">
        .blockElement {
            width: 100% !important;
        }
    </style>
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Billed Customers</h1></div>
    <hr />
    <div class="portlet-body">
        <!-- Anti-Forgery token used when posting to get order details. -->
        @Html.AntiForgeryToken()
        <table id="orders" class="table table-striped table-hover" data-total-records="@Model.Orders.TotalRecords">
            <thead>
                <tr role="row" class="heading">
                    <th width="10%">Order ID</th>
                    <th width="10%">
                        Order Number
                    </th>
                    <th width="10%">
                        Listing ID
                    </th>
                    <th>
                        Business Name
                    </th>
                    <th width="15%">
                        Create Date
                    </th>
                    <th>
                        Total
                    </th>
                    <th width="10%">
                        Status
                    </th>
                    <th></th>
                </tr>
                <tr role="row" class="filter">
                    <td></td>
                    <td>
                        <input type="text" class="form-control form-filter" name="OrderNumber" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter" name="ListingIdentifier" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter" name="BusinessName" />
                    </td>
                    <td>
                        <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                            <input type="text" class="form-control form-filter input-sm" name="StartDate" placeholder="Start">
                            <span class="input-group-btn">
                                <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                            <input type="text" class="form-control form-filter input-sm" name="EndDate" placeholder="End">
                            <span class="input-group-btn">
                                <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <select id="order-status-select" name="OrderStatusID" class="form-control form-filter">
                            <option value="">All</option>
                            @foreach (var status in Model.OrderStatuses)
                            {
                                <option value="@status.OrderStatusID">@status.Status</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in @Model.Orders.PagedListItems)
                {
                    <tr>
                        <td>@order.OrderID</td>
                        <td>@order.OrderNumber</td>
                        <td>@order.ListingID</td>
                        <td>@order.BusinessName</td>
                        <td>@order.CreateDateDisplay</td>
                        <td>@order.OrderTotalDisplay</td>
                        <td>@order.Status</td>
                        <td><button class="btn btn-xs blue view-button">View Order</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="view-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title" id="myModalLabel">Order Details</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-12 news-page blog-page">
                    <div class="row">
                        <div id="order-detail-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var columns = [
                { "data": "OrderID", "visible": false },
                {
                    "data": "OrderNumber",
                    "render": function (data, type, full, meta) {
                        return "#" + data;
                    }
                },
                { "data": "ListingID" },
                { "data": "BusinessName" },
                { "data": "CreateDateDisplay" },
                { "data": "OrderTotalDisplay" },
                {
                    "data": "Status",
                    "render": function (data, type, full, meta) {
                        if (data === 'Paid') {
                            return '<span class="label label-sm label-success">' + data + '</span>';
                        } else {
                            return '<span class="label label-sm label-danger">' + data + '</span>';
                        }
                    }
                },
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button class="btn btn-xs blue view-button">View Order</button>'
                }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#orders").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#orders tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var initPickers = function () {
                    //init date pickers
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true
                    });
                }

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#orders"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50, 100, 150],
                                [10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/Orders/GetOrdersPaged",
                            },
                            // Set the default sort column.
                            "order": [[4, "desc"]]
                        }
                    });

                    // Handle the group actionsubmit button click event.
                    grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                        e.preventDefault();
                    });

                    // Handle the view order button click event.
                    $('body').on('click', '.view-button', function () {
                        var row = $(this).closest("tr")[0];
                        var rowData = grid.getDataTable().row(row).data();
                        var orderID = rowData.OrderID;
                        // Clear out the modal dialog container.
                        $("#order-detail-container").html("");
                        $('#view-order-modal').modal('show');

                        Metronic.blockUI({
                            target: '#order-detail-container',
                            overlayColor: 'none',
                            animate: true,
                            centerX: true
                        });
                        // Retrieve the details for the selected order.
                        AjaxMethods.GetOrderDetailsHTML(orderID)
                            .done(function (data) {
                                $("#order-detail-container").html(data);
                                Metronic.unblockUI("#order-detail-container");
                            })
                            .fail(function () {
                                bootbox.alert("Oops, something went wrong.");
                                Metronic.unblockUI("#order-detail-container");
                            });
                    });
                }

                return {
                    init: function () {
                        initPickers();
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });

    </script>
}