﻿@model Models.Models.OrderBillDataModel


@{
    Layout = null;
}

<!-- THIS VIEW IS USED FOR THE PDF EXPORT FOR BILLS. -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
</head>
    <body>
        
        
        @Model.BusinessName
        
        @Model.Street1
        @Model.Street2
        @Model.City
        @Model.StateAbbreviation
        @Model.Zip

        <!-- Display the details for the order. -->
        <div>
            @Html.Partial("_Order", Model.Order)
        </div>
    </body>
</html>
