﻿@model TemplateApplication.Models.ViewModels.PayOrderViewModel

@{
    ViewBag.Title = "Pay";
    Layout = ViewBag.Layout;
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
}

<form id="pay-order-form" action="/Orders/Pay/@Model.Id" method="POST">
    <div class="portlet light col-md-12">
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
            </div>
            <div class=" col-md-7">
                <div class="portlet light">
                    <div class="portlet-title"><h3>Order Details</h3></div>
                    <hr />
                    <div>
                        @Html.HiddenFor(m => m.Id)
                        @Html.Partial("_Order", Model.Order)
                    </div>
                    @if (Model.IsAdministrator)
                    {
                        <div id="payment-details-portlet" class="portlet light col-md-12">
                            <div class="portlet-title"><h3>Payment Details</h3></div>
                            <hr />
                            <div class="portlet-body">
                                <label><strong>Notes</strong></label>
                                @Html.TextAreaFor(model => model.Payment.PaymentDetails, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div>
                        <button id="pay-order-button" class="btn blue pull-right" type="submit">Pay Order</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <!-- Payment type selection. Only available to administrative users. This input is hidden, but still used when a regular user pays their order.-->
            <div class="col-md-5">
                <div id="payment-type-portlet" class="portlet light col-md-12 @(Model.IsAdministrator ? Html.Raw("") : Html.Raw("hidden"))">
                    <div class="portlet-title"><h3>Select Payment Type</h3></div>
                    <hr />
                    <div class="portlet-body">
                        <select id="payment-type-select" name="Payment.PaymentTypeID">
                            @foreach (var paymentType in Model.PaymentTypes)
                            {
                                if (paymentType.Type.Equals("Credit Card"))
                                {
                                    <option value="@paymentType.PaymentTypeID" selected="selected">@paymentType.Type</option>
                                }
                                else
                                {
                                    <option value="@paymentType.PaymentTypeID">@paymentType.Type</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <!-- If the user is an administrator, allow them to use the check payment option. -->
                @if (Model.IsAdministrator)
                {
                    <div id="check-portlet" class="portlet light col-md-12 hidden">
                        <div class="portlet-title"><h3>Check Details</h3></div>
                        <hr />
                        <div class="portlet-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Bank Name</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.CheckBankName, new { @class = "form-control check" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Check Name</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.CheckName, new { @class = "form-control check" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Routing Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.CheckRoutingNumber, new { @class = "form-control check" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Account Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.CheckAccountNumber, new { @class = "form-control check" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Check Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.CheckNumber, new { @class = "form-control check" })
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- If the user is an administrator, allow them to use the bank transfer payment option. -->
                @if (Model.IsAdministrator)
                {
                    <div id="bank-transfer-portlet" class="portlet light col-md-12 hidden">
                        <div class="portlet-title"><h3>Bank Transfer Details</h3></div>
                        <hr />
                        <div class="portlet-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Bank Name</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.TransferBankName, new { @class = "form-control transfer" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Name</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.TransferName, new { @class = "form-control transfer" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Routing Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.TransferRoutingNumber, new { @class = "form-control transfer" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Account Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.TransferAccountNumber, new { @class = "form-control transfer" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Transfer Check Number</strong></label>
                                    @Html.TextBoxFor(m => m.Payment.TransferCheckNumber, new { @class = "form-control transfer" })
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- Credit card is the default payment option. It is the only payment method available to a normal user. -->
                <div id="credit-card-portlet" class="portlet light col-md-12">
                    <div class="portlet-title"><h3>Credit Card Details</h3></div>
                    <hr />
                    <div class="portlet-body">
                        <!-- Section to display any errors returned by Stripe. -->
                        <span class="payment-errors"></span>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Card Number</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <input id="number" class="form-control credit" type="text" size="20" data-stripe="number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>CVC</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <input id="cvc" class="form-control credit" type="text" data-stripe="cvc" />
                                </div>
                            </div>
                        </div>

                        @{
                            int currentYear = DateTime.Now.ToUniversalTime().Year;
                        }

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Expiration Month</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <div id="expiration-month-container">
                                        <select id="expiration-month-select" class="credit" title="Select Month" data-stripe="exp-month">
                                            <option></option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Expiration Year</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <div id="expiration-year-container">
                                        <select id="expiration-year-select" class="credit" title="Select Year" data-stripe="exp-year">
                                            <option></option>
                                            @for (int i = currentYear; i <= currentYear + 12; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong>Name</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <input id="name" class="form-control credit" type="text" size="20" data-stripe="name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Street 1</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <input id="street1" class="form-control credit" type="text" size="20" data-stripe="address_line1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><strong>Street 2</strong></label>
                                    <input class="form-control credit" type="text" size="20" data-stripe="address_line2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><strong>City</strong></label>
                                    <span class="required-above" aria-required="true">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    <input id="city" class="form-control credit" type="text" size="20" data-stripe="address_city" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div id="state-container">
                                        <label class="control-label"><strong>State</strong></label>
                                        <span class="required-above" aria-required="true">
                                            <i class="fa fa-circle"></i>
                                        </span>
                                        <div id="state-select-container">
                                            <select id="state-select" class="credit" title="Select State" data-stripe="address_state">
                                                <option></option>
                                                @foreach (var state in Model.States)
                                                {
                                                    <option value="@state.Abbreviation">@state.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div id="state-container">
                                        <label class="control-label"><strong>Zip</strong></label>
                                        <span class="required-above" aria-required="true">
                                            <i class="fa fa-circle"></i>
                                        </span>
                                        <input id="zip" class="form-control credit" type="text" size="20" data-stripe="address_zip" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // This identifies your website in the createToken call below
            Stripe.setPublishableKey('pk_test_z6EHIkg5eoUDtcJpyZeNcavM');

            // Form used to update the payment method for this user.
            var createCreditCardToken = function () {
                var $form = $("#pay-order-form");
                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);
                // Prevent the form from submitting with the default action
                return false;
            };

            function stripeResponseHandler(status, response) {
                var $form = $('#pay-order-form');
                if (response.error) {
                    // Show the errors on the form..
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                    bootbox.alert("The payment method you provided is invalid. Please try another credit card.");
                }
                else {
                    // Response contains id and card, which contains additional card details.
                    var token = response.id;
                    // Insert the genrated token into the form so it gets submitted to the server.
                    $form.append($('<input type="hidden" name="Payment.CardToken" />').val(token));
                    $form.get(0).submit();
                }
            };

            $("#payment-type-select").selectpicker();

            // Convert the expiration month select to a bootstrap select.
            $('#expiration-month-select').selectpicker({
                iconBase: 'fa',
                tickIcon: 'fa-check',
                size: 8
            });

            // Convert the expiration year select to a bootstrap select.
            $('#expiration-year-select').selectpicker({
                iconBase: 'fa',
                tickIcon: 'fa-check',
                size: 8
            });

            $('#state-select').selectpicker({
                width: "100%"
            });

            $("#payment-type-select").on("change", function () {
                // Retrieve the payment type selected from the payment type select.
                var paymentType = $(this).find("option:selected").text();
                // Depending on what type is selected we need to show/hide the correct payment type portlets.
                if (paymentType === "Check") {
                    // Turn off validation for the credit card fields.
                    $("#pay-order-form").validate().settings.ignore = ":not(select:hidden, input:visible, textarea:visible), .ignore, .credit, .transfer";
                    $("#bank-transfer-portlet").addClass("hidden");
                    $("#check-portlet").removeClass("hidden");
                    $("#credit-card-portlet").addClass("hidden");
                }
                if (paymentType === "ACH") {
                    // Turn off validation for the credit card fields.
                    $("#pay-order-form").validate().settings.ignore = ":not(select:hidden, input:visible, textarea:visible), .ignore, .credit, .check";
                    $("#bank-transfer-portlet").removeClass("hidden");
                    $("#check-portlet").addClass("hidden");
                    $("#credit-card-portlet").addClass("hidden");
                }
                if (paymentType === "Credit Card") {
                    // Turn on validation for the credit card fields.
                    $("#pay-order-form").validate().settings.ignore = ":not(select:hidden, input:visible, textarea:visible), .ignore, .check, .transfer";
                    $("#bank-transfer-portlet").addClass("hidden");
                    $("#check-portlet").addClass("hidden");
                    $("#credit-card-portlet").removeClass("hidden");
                }
            });

            function addInputNames() {
                // Not ideal, but jQuery's validate plugin requires fields to have names
                // so we add them at the last possible minute, in case any javascript
                // exceptions have caused other parts of the script to fail.
                $("#number").attr("name", "card-number");
                $("#cvc").attr("name", "card-cvc");
                $("#expiration-month-select").attr("name", "card-expiration-month");
                $("#expiration-year-select").attr("name", "card-expiration-year");
                $("#name").attr("name", "card-name");
                $("#street1").attr("name", "card-street1");
                $("#city").attr("name", "card-city");
                $("#state-select").attr("name", "card-state");
                $("#zip").attr("name", "card-zip");
            }

            function removeInputNames() {
                $("#number").removeAttr("name", "card-number");
                $("#cvc").removeAttr("name", "card-cvc");
                $("#expiration-month-select").removeAttr("name", "card-expiration-month");
                $("#expiration-year-select").removeAttr("name", "card-expiration-year");
                $("#name").removeAttr("name", "card-name");
                $("#street1").removeAttr("name", "card-street1");
                $("#city").removeAttr("name", "card-city");
                $("#state-select").removeAttr("name", "card-state");
                $("#zip").removeAttr("name", "card-zip");
            }

            // Add custom rules for credit card validating.
            // Requires Stripe.js.
            jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
            jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
            jQuery.validator.addMethod("cardExpiry", function () {
                return Stripe.validateExpiry($("#expiration-month-select").val(), $("#expiration-year-select").val());
            }, "Please enter a valid expiration");

            var form = $("#pay-order-form");
            form.validate({
                ignore: ":not(select:hidden, input:visible, textarea:visible), .ignore",
                // Default input error message container.
                errorElement: 'span',
                // Default input error message class.
                errorClass: 'help-block help-block-error',
                // Do not focus the last invalid input.
                focusInvalid: false,
                rules: {
                    'card-number': {
                        required: true,
                        cardNumber: true
                    },
                    'card-cvc': {
                        required: true,
                        cardCVC: true
                    },
                    'card-expiration-month': {
                        required: true
                    },
                    'card-expiration-year': {
                        required: true,
                        cardExpiry: true
                    },
                    'card-name': {
                        required: true,
                    },
                    'card-street1': {
                        required: true,
                    },
                    'card-city': {
                        required: true,
                    },
                    'card-state': {
                        required: true,
                    },
                    'card-zip': {
                        required: true,
                    },
                    'Payment.CheckBankName': {
                        required: true
                    },
                    'Payment.TransferBankName': {
                        required: true
                    }
                },
                messages: {
                    'card-number': {
                        required: "Please provide your card number."
                    },
                    'card-cvc': {
                        required: "Please provide your CVC code."
                    },
                    'card-expiration-month': {
                        required: "Please provide your card's expiration month."
                    },
                    'card-expiration-year': {
                        required: "Please provide your card's expiration year.",
                        cardExpiry: "Please provide a valid expiration date."
                    },
                    'card-name': {
                        required: "Please provide your name."
                    },
                    'card-street1': {
                        required: "Please provide your billing street."
                    },
                    'card-city': {
                        required: "Please provide your billing city"
                    },
                    'card-state': {
                        required: "Please provide your billing state."
                    },
                    'card-zip': {
                        required: "Please provide your billing zip code."
                    },
                    'Payment.CheckBankName': {
                        required: "Please provide the bank name for this check."
                    },
                    'Payment.TransferBankName': {
                        required: "Please provide the bank name for this transfer."
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.attr("name") == "card-expiration-month")
                        error.insertAfter("#expiration-month-container .bootstrap-select");
                    else if (element.attr("name") == "card-expiration-year")
                        error.insertAfter("#expiration-year-container .bootstrap-select");
                    else if (element.attr("name") == "card-state")
                        error.insertAfter("#state-select-container .bootstrap-select");
                    else
                        error.insertAfter(element); // For all other inputs, the default behavior.
                },

                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },

                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },

                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },

                submitHandler: function (form) {
                    removeInputNames();
                    // If the payment type selected is check or ACH we can just submit the form.
                    // If it's a credit card we need to send the card details to Stripe to create a token.
                    // Once the token handler completes processing the form is submitted with the card token.
                    var paymentType = $("#payment-type-select").find("option:selected").text();
                    if (paymentType === "Check" || paymentType === "ACH") {
                        form.submit();
                    } else {
                        createCreditCardToken();
                    }
                    addInputNames();
                }
            });

            // Needed to validate the bootstrap selects correctly.
            $('#pay-order-form select').on('change', function (e) {
                $('#pay-order-form').validate().element($(this));
            });

            addInputNames();
        });
    </script>
}
