﻿@model TemplateApplication.Models.ViewModels.PrintOrderModel

@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Print Bills</h1></div>
    <hr />
    <div class="portlet-body">
        <!-- Anti-Forgery token used when posting to get order details. -->
        @Html.AntiForgeryToken()

        <!-- This is a hidden form used to stored the order identifiers selected when printing bills. -->
        @using (Html.BeginForm("DownloadForms", "Orders", FormMethod.Post, new { id = "print-form" }))
        {
            <input id="orderIdentifierHiddenInput" type="hidden" name="commaSeperatedIdentifiers" />
        }

        <div class="table-container">
            <div class="table-actions-wrapper">
                <span></span>
                <button class="btn blue table-group-action-submit">Print Bills</button>
            </div>
            <table id="orders" class="table table-striped table-hover" data-total-records="@Model.OrdersForPrinting.TotalRecords">
                <thead>
                    <tr role="row" class="heading">
                        <th><input type="checkbox" class="group-checkable"></th>
                        <th width="9%">Order ID</th>
                        <th width="9%">Order Number</th>
                        <th width="9%">Listing ID</th>
                        <th>Business Name</th>
                        @*<th>Total</th>*@
                        <th>Status</th>
                        <th width="12%">Create Date</th>
                        <th>Printed</th>
                        <th width="12%">Last Printing Date</th>
                        <th></th>
                    </tr>
                    <tr role="row" class="filter">
                        <td></td>
                        <td>
                            <input type="text" class="form-control form-filter" name="OrderIdentifier" />
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter" name="OrderNumber" />
                        </td>
                        <td><input type="text" class="form-control form-filter" name="ListingIdentifier" /></td>
                        <td>
                            <input type="text" class="form-control form-filter" name="BusinessName" />
                        </td>
                        @*<td></td>*@
                        <td></td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="CreateDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="CreateDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <select class="form-control form-filter" name="OrderPrinted">
                                <option value="">All</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="LastPrintDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="LastPrintDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrdersForPrinting.PagedListItems)
                    {
                        <tr>
                            <td><input type="checkbox" class="child-check" value="@order.OrderID" /></td>
                            <td>@order.OrderID</td>
                            <td>@order.OrderNumber</td>
                            <td>@order.ListingID</td>
                            <td>@order.BusinessName</td>
                            @*<td>@order.OrderTotalDisplay</td>*@
                            <td>@order.Status</td>
                            <td>@order.CreateDateDisplay</td>
                            <td>@order.IsPrinted</td>
                            <td>@order.LastPrintedDateDisplay</td>
                            <td><button class="btn btn-xs blue view-button">View Order</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal used to display order details. -->
<div class="modal" id="view-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title" id="myModalLabel">Order Details</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-12 news-page blog-page">
                    <div class="row">
                        <div id="order-detail-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<input type="checkbox" class="child-check"/>'
                },
                { "data": "OrderID", "visible": false },
                {
                    "data": "OrderNumber",
                    "render": function (data, type, full, meta) {
                        return "#" + data;
                    }
                },
                { "data": "ListingID" },
                { "data": "BusinessName" },
                //{ "data": "OrderTotalDisplay" },
                {
                    "data": "Status",
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<span class="label label-sm label-danger">' + data + '</span>';
                    }
                },
                { "data": "CreateDateDisplay" },
                { "data": "IsPrinted"},
                { "data": "LastPrintedDateDisplay" },
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button class="btn btn-xs blue view-button">View Order</button>'
                }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#orders").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#orders tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var initPickers = function () {
                    //initialize the date pickers used for filtering in the datatable.
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true
                    });
                }

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#orders"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50],
                                [10, 20, 50]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/Orders/GetUnpaidOrdersForPrintingPaged",
                            },
                            // Set the second column as the default sort column.
                            "order": [[6, "desc"]]
                        }
                    });

                    // Handle the group table-group-action-submit button click.
                    // This is the logic for the "Print Bills" button.
                    grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                        e.preventDefault();
                        // Retrieve all the records with a checked checkbox.
                        if (grid.getSelectedRowsCount() > 0) {
                            var row;
                            var listingIdentifiers = [];
                            $(".child-check:checkbox:checked").each(function () {
                                row = $(this).closest("tr")[0];
                                var identifier = grid.getDataTable().row(row).data().OrderID;
                                listingIdentifiers.push(identifier);
                            });
                            // Grab the hidden form used to store the order identifiers to be printed.
                            var $form = $("#print-form");
                            $form.find("#orderIdentifierHiddenInput").val(listingIdentifiers);
                            // Submit the form, creating the zipped folder containing the bills for the selected orders.
                            $form.submit();

                            grid.getDataTable().ajax.reload();
                            grid.clearAjaxParams();
                        } else {
                            Metronic.alert({
                                type: 'danger',
                                icon: 'warning',
                                message: 'Please select at least one order for printing.',
                                container: grid.getTableWrapper(),
                                place: 'prepend'
                            });
                        }
                    });
                }

                // Handle the view order button click event.
                $('body').on('click', '.view-button', function () {
                    var row = $(this).closest("tr")[0];
                    var rowData = grid.getDataTable().row(row).data();
                    var orderID = rowData.OrderID;

                    $("#order-detail-container").html("");
                    $('#view-order-modal').modal('show');

                    Metronic.blockUI({
                        target: '#order-detail-container',
                        overlayColor: 'none',
                        animate: true,
                        centerX: true
                    });

                    AjaxMethods.GetOrderDetailsHTML(orderID).done(function (data) {
                        $("#order-detail-container").html(data);
                        Metronic.unblockUI("#order-detail-container");
                    }).fail(function (xhr) {
                        bootbox.alert("Oops, something went wrong.");
                        Metronic.unblockUI("#order-detail-container");
                    });
                });

                return {
                    init: function () {
                        initPickers();
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });
    </script>
}


