﻿@if (Request.IsAuthenticated)
{
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="username">
                        @User.Identity.Name.ToUpper()
                    </span>
                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="~/Account/Manage"><i class="icon-user"></i> My Account</a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i> Log Off</a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
    </div>
}