﻿
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
{
    <li class="menu-dropdown">
        <a href="/Administration" class="tooltips">
            Administration
        </a>
    </li>
}