﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>NA Trade Registry</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/assets/global/plugins/font-awesome/css/FontAwesome")
    @Styles.Render("~/Content/assets/global/plugins/simple-line-icons/SimpleLineIcons")
    @Styles.Render("~/Content/assets/global/plugins/uniform/css/Uniform")
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    @Styles.Render("~/Content/assets/admin/layout4/css/Admin4Layout")
    @Styles.Render("~/Content/custom/Admin4CustomStyling.css")

    @RenderSection("Styles", required: false)
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-md page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    <div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->
            <div class="page-actions">
                <div class="btn-group">
                    <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="hidden-sm hidden-xs">Actions&nbsp;</span><i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/TradeLeads/Create">
                                <i class="icon-docs"></i> New Trade Lead
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                @Html.Partial("_AdminDropdownMenu")
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="start ">
                        <a href="/Administration">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-doc"></i>
                            <span class="title">Listings</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/SiteUtilities/Listings">
                                    <span class="badge badge-roundless badge-danger">new</span>View Listings
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/BillableListings">
                                    <span class="badge badge-roundless badge-danger">new</span>Billable Listings
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="start ">
                        <a href="javascript:;">
                            <i class="icon-basket"></i>
                            <span class="title">Orders</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Orders">
                                    <span class="badge badge-roundless badge-danger">new</span>Billed Customers
                                </a>
                            </li>
                            <li>
                                <a href="/Orders/Print">
                                    <span class="badge badge-roundless badge-danger">new</span>Print Bills
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Reports</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Reports/SiteErrorsReport">
                                    <span class="badge badge-roundless badge-danger">new</span>Site Errors
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="last ">
                        <a href="javascript:;">
                            <i class="icon-pointer"></i>
                            <span class="title">Utilities</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/SiteUtilities/TradeLeadEditor">
                                    Trade Lead Editor
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/ListingConversion">
                                    <span class="badge badge-roundless badge-danger">new</span>
                                    Convert Bulk Listing
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/Pricing">
                                    <span class="badge badge-roundless badge-danger">new</span>
                                    Pricing Utility
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/ConfigureIndustries">
                                    <span class="badge badge-roundless badge-danger">new</span>
                                    Configure Industries
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/ConfigureDirectories">
                                    <span class="badge badge-roundless badge-danger">new</span>
                                    Configure Directories
                                </a>
                            </li>
                            <li>
                                <a href="/SiteUtilities/Users">
                                    Site Users
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; North American Trade Registry.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    @Scripts.Render("~/Content/assets/global/plugins/GlobalScripts")
    <!-- END CORE PLUGINS -->
    @Scripts.Render("~/Content/assets/admin/layout4/scripts/Layout")

    @RenderSection("Scripts", required: false)

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // Initialize core components.
            Layout.init();   // Initialize current layout.
        });
    </script>
    <!-- END JAVASCRIPT -->
</body>
<!-- END BODY -->
</html>