﻿@model IEnumerable<Stripe.StripeCard>

<div id="user-card-container">
    @foreach (var card in Model)
    {
        <div class="portlet col-xs-12 col-sm-6 col-md-6 credit-card-portlet">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12"><h3 id="card-brand-header">@card.Brand</h3></div>
                </div>
                <hr/>
                <div><strong>@card.Name</strong></div>
                <div class="row">
                    <div id="card-number-container" class="col-md-12">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>&nbsp;
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>&nbsp;
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>&nbsp;
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>&nbsp;
                        @card.Last4
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5><strong>Expires: </strong>@card.ExpirationMonth / @card.ExpirationYear</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
