﻿@model List<Models.Models.ActionError>
           

@if (!Model.Any())
{
    <div class="note note-success note-shadow">Action completed successfully!</div>
}
else
{
    <div class="note note-shadow note-danger">
        Errors were encountered when performing your selected action. See below for details.
    </div>
    <div class="table-scrollable">
        <table class="table table-striped">
            <tbody>
                @foreach (var error in Model)
                {
                    <tr>
                        <td><strong>@error.Target</strong>: @error.ErrorDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
