﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>NA Trade Registry</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/assets/global/plugins/font-awesome/css/FontAwesome")
    @Styles.Render("~/Content/assets/global/plugins/simple-line-icons/SimpleLineIcons")
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    @Styles.Render("~/Content/assets/admin/layout3/css/Admin3Layout")
    @Styles.Render("~/Content/custom/Admin3CustomStyling.css")

    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("Styles", required: false)
    <!-- END PAGE LEVEL STYLES -->

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body>
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo" style="height: 150px;">
                    <a href="/">
                        <img src="~/Images/2.jpg" class="img-responsive logo-default" alt="Responsive image">
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    @Html.Partial("_UpdatedLoginPartial")
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container">
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu hor-menu-light">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown">
                            <a href="~/" class="tooltips">
                                Home
                            </a>
                        </li>
                        <li class="menu-dropdown">
                            <a href="/Listings" class="tooltips">
                                Business Listings
                            </a>
                        </li>
                        <li class="menu-dropdown">
                            <a href="/Listings/Create" class="tooltips">
                                Create Listing
                            </a>
                        </li>
                        <li class="menu-dropdown">
                            <a href="/TradeLeads" class="tooltips">
                                Trade Leads
                            </a>
                        </li>
                        <li class="menu-dropdown">
                            <a href="/Information/About" class="tooltips">
                                About
                            </a>
                        </li>
                        <li class="menu-dropdown">
                            <a href="/Information/Contact" class="tooltips">
                                Contact Us
                            </a>
                        </li>
                        @Html.Partial("_AdminMenu")
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>@RenderSection("PageTitle", required: false)</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                <!-- BEGIN PAGE BREADCRUMB -->
                @RenderSection("Breadcrumb", required: false)
                <!-- END PAGE BREADCRUMB -->
                <!-- BEGIN PAGE CONTENT INNER -->
                @RenderBody()
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN PRE-FOOTER -->
    <div class="page-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                    <h2>About</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                    <h2>Subscribe Email</h2>
                    <div class="subscribe-form">
                        <form id="mailing-list-form" action="javascript:;">
                            @Html.AntiForgeryToken()
                            <div class="input-group">
                                <input type="text" name="EmailAddress" placeholder="mail@email.com" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit" data-loading-text="Saving Email...">Submit</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                    <h2>Follow Us On</h2>
                    <ul class="social-icons">
                        <li>
                            <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
                        </li>
                        <li>
                            <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
                        </li>
                        <li>
                            <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
                        </li>
                        <li>
                            <a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                    <h2>Contacts</h2>
                    <address class="margin-bottom-40">
                        Phone: 800 123 3456<br>
                        Email: <a href="mailto:info@ListingPublisher.com">info@ListingPublisher.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="container">
            2015 &copy; North American Trade Registry. All Rights Reserved.
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="~/Content/assets/global/plugins/respond.min.js"></script>
        <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/Content/assets/global/plugins/GlobalScripts")
    <!-- END CORE PLUGINS -->
    @Scripts.Render("~/Content/assets/admin/layout3/scripts/Layout")
    <!-- RENDER PAGE LEVEL SCRIPTS -->
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function () {
            Metronic.init();
            Layout.init();

            // Code to save a user's email address in the mailing list database.
            $("#mailing-list-form").submit(function () {
                var submitButton = $(this).find(":submit");
                submitButton.button("loading");
                var serializedForm = $(this).serializeObject();
                AjaxMethods.SaveMailingListEmail(serializedForm.EmailAddress).done(function (data) {
                    if (data.message != "") {
                        bootbox.alert(data.message);
                    }
                    submitButton.button('reset');
                }).fail(function () {
                    bootbox.alert("There was an issue saving your email address. Please try again later.");
                    submitButton.button('reset');
                });
            });
        });
    </script>
</body>
</html>