﻿@using Models.Models
@model Order

<div class="row">
    <input id="order-identifier-input" value="@Model.OrderID" type="hidden" />
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Order #:</strong></label>
            <p class="col-md-7">
                @Model.OrderNumber
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Created:</strong></label>
            <p class="col-md-7">@Model.CreateDateDisplay</p>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th class="text-center">
                        Unit Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderLineItems != null)
                {
                    foreach (OrderLineItem lineItem in Model.OrderLineItems)
                    {
                        <tr>
                            <td>
                                @lineItem.Description
                            </td>
                            <td class="text-right">
                                @lineItem.LineItemTotalDisplay
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr class="text-right">
                    <td><strong>Order Total</strong></td>
                    <td><strong>@Model.OrderTotalDisplay</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>