﻿@using Models.Models
@model IEnumerable<State>

<form class="form" role="form" action="" method="POST" id="payment-form">
    @Html.AntiForgeryToken()
    <div>
        <i class="fa fa-cc-discover fa-4x"></i>&nbsp;
        <i class="fa fa-cc-amex fa-4x"></i>&nbsp;
        <i class="fa fa-cc-visa fa-4x"></i>&nbsp;
        <i class="fa fa-cc-mastercard fa-4x"></i>&nbsp;
    </div>

    <!-- Section to display any errors returned by Stripe. -->
    <span class="payment-errors"></span>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label"><strong>Card Number</strong></label>
                <input id="number" class="form-control" type="text" size="20" data-stripe="number" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label"><strong>CVC</strong></label>
                <input id="cvc" class="form-control" type="text" data-stripe="cvc" />
            </div>
        </div>
    </div>

    @{
        int currentYear = DateTime.Now.ToUniversalTime().Year;
    }

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"><strong>Expiration Month</strong></label>
                <div id="expiration-month-container">
                    <select id="expiration-month-select" class="form-control" title="Select Month" data-stripe="exp-month">
                        <option></option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"><strong>Expiration Year</strong></label>
                <div id="expiration-year-container">
                    <select id="expiration-year-select" title="Select Year" class="form-control" data-stripe="exp-year">
                        <option></option>
                        @for (int i = currentYear; i <= currentYear + 12; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label"><strong>Name</strong></label>
                <input id="name" class="form-control" type="text" size="20" data-stripe="name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"><strong>Street 1</strong></label>
                <input id="street1" class="form-control" type="text" size="20" data-stripe="address_line1" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"><strong>Street 2</strong></label>
                <input class="form-control" type="text" size="20" data-stripe="address_line2" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"><strong>City</strong></label>
                <input id="city" class="form-control" type="text" size="20" data-stripe="address_city" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div id="state-select-container">
                    <label class="control-label"><strong>State</strong></label>
                    <select id="state-select" title="Select State" data-stripe="address_state">
                        <option value=""></option>
                        @foreach (State state in Model)
                        {
                            <option vale="@state.Abbreviation">@state.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div id="state-container">
                    <label class="control-label"><strong>Zip</strong></label>
                    <input id="zip" class="form-control" type="text" size="20" data-stripe="address_zip" />
                </div>
            </div>
        </div>
    </div>

    <button id="submit-button" type="submit" class="btn blue pull-right">Submit</button>
    <div class="clearfix"></div>
</form>