﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    
    <style type="text/css">
        .test {
            background-color: red;
        }
    </style>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
