﻿@model Models.Models.Order

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th class="text-center">
                        Unit Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderLineItems != null)
                {
                    foreach (var lineItem in Model.OrderLineItems)
                    {
                        <tr>
                            <td>
                                @lineItem.Description
                            </td>
                            <td class="text-right">
                                @lineItem.LineItemTotalDisplay
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr class="text-right">
                    <td><strong>Order Total</strong></td>
                    <td><strong>@Model.OrderTotalDisplay</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>