﻿@model Models.Models.Subscription

<input type="hidden" value="@Model.ListingID" name="ListingIdentifier" />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Directory Count:</strong></label>
            <p class="col-md-7">
                @Model.CurrentDirectoryCount
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Description Count:</strong></label>
            <p class="col-md-7">@Model.CurrentDescriptionLinesCount</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Start Date:</strong></label>
            <p class="col-md-7">
                @Model.StartDateDisplay
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>End Date:</strong></label>
            <p class="col-md-7">@Model.EndDateDisplay</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-5"><strong>Subscription Cost:</strong></label>
            <p class="col-md-7">
                @Model.SubscriptionCostDisplay
            </p>
        </div>
    </div>
</div>

@if (!Model.CancelledDate.HasValue)
{
    <div class="row">
        <div class="col-md-12">
            <div class="note note-success note-shadow">The renewal date for this subscription is: <strong>@Model.RenewalDateDisplay</strong>.</div>
        </div>
    </div>
}
else
{
    <div class="note note-danger note-shadow">This subscription was cancelled on <strong>@Model.CancelledDate.Value.ToShortDateString()</strong>.</div>
}
