﻿@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown dropdown-user dropdown-dark">
            <a id="menu-dropdown-button" href="javascript:;" class="dropdown-toggle btn" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username">Account Menu</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="~/Account/Manage">
                        <i class="icon-user"></i> My Account
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i> Log Off</a>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
}
else
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn blue" })
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn blue" })
}