﻿@model Models.Models.PagedList<Models.Models.SiteError>

@{
    ViewBag.Title = "Site Utilities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Site Errors Report</h1></div>
    <hr />
    <div class="portlet-body">
        <table id="errors" class="table table-striped table-hover" data-total-records="@Model.TotalRecords">
            <thead>
                <tr role="row" class="heading">
                    <th>
                        Source
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var error in @Model.PagedListItems)
                {
                    <tr>
                        <td>@error.Source</td>
                        <td>@error.Message</td>
                        <td>@error.UserDisplay</td>
                        <td>@error.StatusCode</td>
                        <td>@error.TimeDisplay</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Columns to appear in the datatable.
            // Columns match the JSON property names returned from the datatable AJAX call.
            var columns = [
                { "data": "Source", "orderable": false },
                { "data": "Message", "orderable": false },
                { "data": "UserDisplay", "orderable": false },
                { "data": "StatusCode", "orderable": false },
                { "data": "TimeDisplay", "orderable": false }
            ];

            // Small function to grab the initial total records when the datatable is created.
            var getTotalRecords = function () {
                var totalRecords = $("#errors").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#errors tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#errors"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50, 100, 150],
                                [10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/Reports/GetSiteErrorsPaged",
                            },
                            "order": []
                        }
                    });
                }

                return {
                    init: function () {
                        handleRecords();
                    }
                };
            }();
            tableAjax.init();
        });
    </script>
}