﻿@model Models.Models.PagedList<Models.BillableListingsModel>

@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <style type="text/css">
        #notes-container {
            overflow: auto;
        }
    </style>
}

<div class="portlet light col-md-12">
    <div class="portlet-title">
        <div class="caption">
            <div class="caption-subject">
                <h1>
                    Billable Listings
                </h1>
            </div>
        </div>
        <div class="actions">
            @*<div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="/SiteUtilities/DownloadCsv">Export CSV</a></li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="portlet-body">
        <!-- Anti-Forgery token used when posting to get order details. -->
        @Html.AntiForgeryToken()

        <div class="table-container">
            <div class="table-actions-wrapper">
                <span></span>
                <button class="btn blue table-group-action-submit">Generate Orders</button>
            </div>
            <table id="listings" class="table table-striped table-hover" data-total-records="@Model.TotalRecords">
                <thead>
                    <tr role="row" class="heading">
                        <th><input type="checkbox" class="group-checkable"></th>
                        <th width="8%">Listing ID</th>
                        <th>Business Name</th>
                        <th width="15%">Create Date</th>
                        <th width="15%">Last Subscription Date</th>
                        <th width="10%">Order Generated</th>
                        <th width="15%">Generated Date</th>
                        <th></th>
                    </tr>
                    <tr role="row" class="filter">
                        <td></td>
                        <td>
                            <input type="text" class="form-control form-filter" name="ListingIdentifier" />
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter" name="BusinessName" />
                        </td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="ListingCreateDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="ListingCreateDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="LastSubscriptionDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="LastSubscriptionDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <select class="form-control form-filter" name="OrderGenerated">
                                <option value="">All</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="OrderGeneratedDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="OrderGeneratedDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.PagedListItems)
                    {
                        <tr>
                            <td><input type="checkbox" class="child-check" value="@record.ListingID" /></td>
                            <td>@record.ListingID</td>
                            <td>@record.BusinessName</td>
                            <td>@record.ListingCreateDateDisplay</td>
                            <td>@record.LastSubscriptionDateDisplay</td>
                            <td>@record.OrderGenerated</td>
                            <td>@record.GeneratedDateDisplay</td>
                            <td>@record.ListingID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal used to display the results from generating an order. -->
<div class="modal" id="generate-orders-status-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title" id="myModalLabel">Action Status Details</h2>
            </div>
            <div class="modal-body">
                <div id="action-status-detail-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal used to display the notes for a listing. -->
<div class="modal" id="notes-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title" id="myModalLabel">Listing Notes</h2>
            </div>
            <div class="modal-body">
                <div id="notes-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var columns = [
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<input type="checkbox" class="child-check"/>'
                },
                { "data": "ListingID" },
                { "data": "BusinessName" },
                { "data": "ListingCreateDateDisplay" },
                { "data": "LastSubscriptionDateDisplay" },
                { "data": "OrderGenerated" },
                { "data": "GeneratedDateDisplay" },
                {
                    "orderable": false,
                    "data": "ListingID",
                    "render":
                    function (data, type, full, meta) {
                        return '<button class="btn btn-xs blue notes-button">View Notes</button><a href="/Listings/AdminEdit/' + data + '" class="btn btn-xs blue edit-button">Edit</a>';
                    }
                }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#listings").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#listings tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var initPickers = function () {
                    // Initialize date pickers used in the filtering section of the datatable.
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true
                    });
                }

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#listings"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": true,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50, 100, 150],
                                [10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/SiteUtilities/GetBillableListingsPaged",
                            },
                            // Set the second column as the default sort column.
                            "order": [[1, "asc"]]
                        }
                    });

                    // handle group actionsubmit button click
                    grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                        e.preventDefault();

                        if (grid.getSelectedRowsCount() > 0) {
                            Metronic.blockUI({
                                message: "Loading....",
                                target: grid.gettableContainer(),
                                overlayColor: 'none',
                                cenrerY: true,
                                boxed: true
                            });

                            // Retrieve the listing identifiers for rows with a checked checkbox.
                            var row;
                            var listingIdentifiers = [];
                            $(".child-check:checkbox:checked").each(function () {
                                row = $(this).closest("tr")[0];
                                var identifier = grid.getDataTable().row(row).data().ListingID;
                                listingIdentifiers.push(identifier);
                            });

                            // Post the listing identifiers to /SiteUtilities/GenerateOrders.
                            // For each listing identifier, generate an order if possible.
                            // Any errors are logged and a screen indicating the results is displayed at the end.
                            AjaxMethods.GenerateOrders(listingIdentifiers).done(function (data) {
                                Metronic.unblockUI(grid.gettableContainer());
                                if (data != "") {
                                    $("#action-status-detail-container").html(data);
                                    $("#generate-orders-status-modal").modal("show");
                                }
                                grid.getDataTable().ajax.reload();
                                grid.clearAjaxParams();
                            }).fail(function () {
                                Metronic.unblockUI(grid.gettableContainer());
                                bootbox.alert("Oops, something went wrong. Please try again.");
                            });
                        }
                        else {
                            Metronic.alert({
                                type: 'danger',
                                icon: 'warning',
                                message: 'Please select at least one listing to generate an order.',
                                container: grid.getTableWrapper(),
                                place: 'prepend'
                            });
                        }
                    });

                    // Handle the notes button click for listings.
                    $('body').on('click', '.notes-button', function () {
                        var row = $(this).closest("tr")[0];
                        var identifier = grid.getDataTable().row(row).data().ListingID;

                        AjaxMethods.GetListingNotes(identifier).done(function (data) {
                            $("#notes-container").html(data);
                            $("#notes-modal").modal("show");
                        })
                       .fail(function () {
                       });
                    });
                }

                return {
                    init: function () {
                        initPickers();
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });
    </script>
}