﻿@model TemplateApplication.Models.ViewModels.ConfigureIndustriesModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>Configure Industries</h2>
        <hr />
    </div>
    <div class="portlet-body">
        <div id="error-message-container"></div>
        @Html.AntiForgeryToken()
        <div class="portlet light">
            <div class="portlet-body">
                <button id="create-industry-button" type="button" class="btn blue">Create New Industry</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Table to display the industries in the site. -->
                <table id="industry-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="30%">Industry ID</th>
                            <th width="35%">Industry Name</th>
                            <th width="35%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var industry in Model.Industries)
                        {
                            <tr>
                                <td>@industry.IndustryID</td>
                                <td>@industry.Name</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Create / Edit Industry modal dialog. -->
<div class="modal" id="industry-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"></div>
            <form id="industry-form">
                <div class="modal-body">
                    <!-- Container for any error messages that may be displayed. -->
                    <div id="industry-error-message-container"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="industry-identifier-hidden" type="hidden" name="Industry[IndustryID]" />
                            <div class="form-group">
                                <label><strong>Industry Name</strong></label>
                                <input id="industry-name-text" type="text" class="form-control" name="Industry[Name]" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn blue" data-loading-text="Saving Industry...">Save Industry</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/jQueryValidation")

    <script type="text/javascript">
        $(document).ready(function () {

            var columns = [
                {
                    "data": "IndustryID",
                    "targets": 0
                },
                {
                    "data": "Name",
                    "targets": 1
                },
                {
                    "data": null,
                    "defaultContent": "<button class='btn blue edit-button'>Edit</button><button class='btn btn-danger delete-button'>Delete</button>",
                    "orderable": false,
                    "searchable": false,
                    "targets": -1
                }
            ];

            var tableData = [];
            $('#industry-table tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            // Initialize the industry datatable.
            var industryTable = $("#industry-table").DataTable({
                "language":
                {
                    "lengthMenu": "Display _MENU_",
                    "zeroRecords": "No industries found.",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Search "
                },
                "order": [[0, "desc"]],
                "lengthMenu": [
                    [5, 10, 25, 50],
                    [5, 10, 25, 50]
                ],
                "columns": columns,
                "data": tableData
            });

            // Event handler for the delete button click.
            $('body').on('click', '.delete-button', function () {
                var row = $(this).closest("tr")[0];
                // Retrieve the industry identifier from the table row.
                var industryID = industryTable.row(row).data()["IndustryID"];
                debugger;
                bootbox.confirm("Are you sure you'd like to delete this industry?", function (result) {
                    if (result === true) {
                        AjaxMethods.DeleteIndustry(industryID).done(function () {
                            // If the deletion was successful.
                            industryTable.row(row).remove().draw();
                        }).fail(function () {
                            bootbox.alert("The selected industry could not be deleted.");
                        });
                    }
                });
            });

            // Event handler for the edit button click.
            $('body').on('click', '.edit-button', function () {
                // Retrieve the industry values from the table.
                var row = $(this).closest("tr")[0];
                var industryID = industryTable.row(row).data()["IndustryID"];
                var industryName = industryTable.row(row).data()["Name"];
                // Clear the industry form in the modal.
                clearModalForm();
                clearValidationClasses();
                // Set the form values.
                $("#industry-identifier-hidden").val(industryID);
                $("#industry-name-text").val(industryName);
                // Display the industry modal.
                $("#industry-modal").modal("show");
            });

            // Event handler used to display the industry form modal.
            $("#create-industry-button").click(function () {
                // Clear out any form elements and display the modal.
                clearModalForm();
                clearValidationClasses();
                $("#industry-modal").modal("show");
            });

            var clearModalForm = function () {
                // Clear out all the values in the industry form.
                $("form#industry-form").find("input").val("");
            };

            // This method repopulates the industry datatable with new data.
            var reloadIndustryTable = function () {
                AjaxMethods.GetIndustries().done(function (data) {
                    industryTable.clear();
                    industryTable.rows.add(data);
                    industryTable.draw();
                }).fail(function () {
                    Metronic.alert({
                        type: "danger",
                        icon: "warning",
                        message: "An error occured while refreshing the industry table.",
                        container: "#error-message-container",
                        place: "prepend"
                    });
                });
            };

            // This function clears the validation classes added by jQuery validation.
            var clearValidationClasses = function () {
                $("form#industry-form").find(".form-group").removeClass("has-success").removeClass("has-error");
                $(".help-block-error").hide();
            };

            // jQuery validation for th pricing model form.
            var validatedForm = $('#industry-form');
            validatedForm.validate({
                // Default input error message container.
                errorElement: 'span',
                // Default input error message class.
                errorClass: 'help-block help-block-error',
                // Do not focus the last invalid input.
                focusInvalid: false,
                rules: {
                    'Industry[Name]': {
                        required: true
                    }
                },
                messages: {
                    'Industry[Name]': {
                        required: "Please provide an industry name."
                    }
                },
                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                submitHandler: function (form) {
                    var $submitButton = $(form).find(":submit");
                    $submitButton.button("loading");
                    // Save the newly created industry.
                    var formObject = $(form).serializeObject();
                    AjaxMethods.SaveIndustry(formObject.Industry).done(function (data) {
                        // If the save operation is successful, close the modal window and reload the table.
                        if (data.Success) {
                            // Reset the button state, reload the industry table, and hide the modal.
                            $submitButton.button("reset");
                            reloadIndustryTable();
                            $("#industry-modal").modal("hide");
                        } else {
                            $submitButton.button("reset");
                            // Display the error message in the modal.
                            Metronic.alert({
                                type: "danger",
                                icon: "warning",
                                message: data.Message,
                                container: "#industry-error-message-container",
                                place: "prepend"
                            });
                        }
                    }).fail(function () {
                        // Reset the submit button state and display a generic error message.
                        $submitButton.button("reset");
                        Metronic.alert({
                            type: "danger",
                            icon: "warning",
                            message: "An error occured while saving this industry record. Please try again.",
                            container: "#industry-error-message-container",
                            place: "prepend"
                        });
                    });
                }
            });
        });
    </script>
}