﻿@model TemplateApplication.Models.ViewModels.DirectoryConfigurationViewModel

@{
    ViewBag.Title = "ConfigureDirectories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>Configure Site Directories</h2>
        <hr />
    </div>
    <div class="portlet-body">
        <div class="row">
            @if (!Model.DoesDefaultDirectoryExist)
            {
                <div class="col-md-12">
                    <div class="note note-shadow note-info">
                        <strong>
                            No directory has been selected as the default directory. Please choose a directory to be marked as the default.
                        </strong>
                    </div>
                </div>
            }
            <div class="col-md-6">
                <h3>Create New Directory</h3>
                <hr />
                @using (Html.BeginForm("ConfigureDirectories", "SiteUtilities", FormMethod.Post, new { id = "directory-form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label><strong>Directory Name</strong></label>
                                <input id="name-textbox" type="text" class="form-control" name="Directory.Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><strong>Default Directory</strong></label>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Directory.IsDefault" value="true" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>Description</strong></label>
                                <textarea id="description-textarea" class="form-control" name="Directory.Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn blue">Save New Directory</button>
                }
            </div>
            <div class="col-md-6">
                <h3>Site Directories</h3>
                <hr />
                <table id="directory-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Directory ID</th>
                            <th>Directory Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var directory in Model.Directories)
                        {
                            <tr>
                                <td>@directory.DirectoryID</td>
                                <td>@directory.Name</td>
                                <td>@directory.Description</td>
                                <td><a href="/SiteUtilities/EditDirectory/@directory.DirectoryID" class="btn blue btn-xs edit">Edit</a><button class="btn btn-danger btn-xs delete">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/jQueryValidation")

    <script type="text/javascript">
        $(document).ready(function () {

            var directoryTable = $("#directory-table").DataTable({
                "language":
                {
                    "lengthMenu": "Display _MENU_",
                    "zeroRecords": "No directories found.",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Search "
                },
                "order": [[0, "asc"]],
                "lengthMenu": [
                    [5, 10, 25, 50],
                    [5, 10, 25, 50]
                ],
                "columnDefs": [
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "searchable": false,
                        "orderable": false
                    }
                ]
            });

            $('body').on('click', '.delete', function () {
                var row = $(this).closest("tr")[0];
                // Retrieve the directoryID from the table row.
                var directoryID = directoryTable.row(row).data()[0];

                bootbox.confirm("Are you sure you'd like to delete this directory?", function (result) {
                    if (result === true) {
                        AjaxMethods.DeleteDirectory(directoryID).done(function () {
                            // If the deletion was successful.
                            directoryTable.row(row).remove().draw();
                        }).fail(function () {
                            bootbox.alert("The selected directory could not be deleted.");
                        });
                    }
                });
            });

            // jQuery validation for th pricing model form.
            var validatedForm = $('#directory-form');
            validatedForm.validate({
                // Default input error message container.
                errorElement: 'span',
                // Default input error message class.
                errorClass: 'help-block help-block-error',
                // Do not focus the last invalid input.
                focusInvalid: false,

                rules: {
                    'Directory.Name': {
                        required: true
                    },
                    'Directory.Description': {
                        required: true
                    }
                },
                messages: {
                    'Directory.Name': {
                        required: "Please provide a directory name."
                    },
                    'Directory.Description': {
                        required: "Please provide a directory description."
                    }
                },
                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}