﻿@model Models.Models.Directory

@{
    ViewBag.Title = "EditDirectory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>Edit Directory</h2>
        <hr />
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("EditDirectory", "SiteUtilities", FormMethod.Post, new { id = "edit-directory-form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                    @Html.HiddenFor(m => m.DirectoryID)
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label><strong>Directory Name</strong></label>
                                @Html.TextBoxFor(m => m.Name, new { id = "name-textbox", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><strong>Default Directory</strong></label>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(m => m.IsDefault)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>Description</strong></label>
                                @Html.TextAreaFor(m => m.Description, new { id = "description-textarea", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn blue pull-right">Save Changes</button>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/jQueryValidation")
    <script type="text/javascript">
        $(document).ready(function () {
            // jQuery validation for the edit directory form.
            var validatedForm = $('#edit-directory-form');
            validatedForm.validate({
                // Default input error message container.
                errorElement: 'span',
                // Default input error message class.
                errorClass: 'help-block help-block-error',
                // Do not focus the last invalid input.
                focusInvalid: false,
                rules: {
                    'Name': {
                        required: true
                    },
                    'Description': {
                        required: true
                    }
                },
                messages: {
                    'Name': {
                        required: "Please provide a directory name."
                    },
                    'Description': {
                        required: "Please provide a directory description."
                    }
                },
                highlight: function (element) {
                    // Hightlight error inputs.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    // Revert the change done by hightlight.
                    // Set error class to the control group.
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    // Mark the current input as valid and display OK icons.
                    // Set success class to the control group
                    label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}