﻿@model TemplateApplication.Models.ViewModels.ManagedListingsViewModel

@{
    ViewBag.Title = "Site Listings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Site Listings</h1></div>
    <hr />
    <div class="portlet-body">
        <!-- Anti-Forgery token used when posting to get order details. -->
        @Html.AntiForgeryToken()

        <table id="listings" class="table table-striped table-hover" data-total-records="@Model.ManagedListings.TotalRecords">
            <thead>
                <tr rolw="row" class="heading">
                    <th width="5%">ID</th>
                    <th>Business</th>
                    <th>Contact</th>
                    <th width="15%">Type</th>
                    <th>Cancelled</th>
                    <th>Subscription</th>
                    <th></th>
                </tr>
                <tr role="row" class="filter">
                    <td>
                        <input type="text" class="form-control form-filter" name="ListingIdentifier" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter" name="BusinessName" />
                    </td>
                    <td></td>
                    <td>
                        <select id="listing-type-select" class="form-control form-filter" name="ListingTypeID">
                            <option value="">All</option>
                            @foreach (var type in Model.ListingTypes)
                            {
                                <option value="@type.ListingTypeID">@type.Type</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="show-cancelled-select" class="form-control form-filter" name="ShowCancelled">
                            <option value="">All</option>
                            <option value="false">Active</option>
                            <option value="true">Cancelled</option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var listing in Model.ManagedListings.PagedListItems)
                {
                    <tr>
                        <td>@listing.ListingID</td>
                        <td>@listing.BusinessName</td>
                        <td>@listing.BusinessContactDisplay</td>
                        <td>@listing.Type</td>
                        <td>@listing.CancelledDateDisplay</td>
                        <td>@listing.CurrentSubscriptionID</td>
                        <td>@listing.ListingID</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [
            { "data": "ListingID" },
            { "data": "BusinessName" },
            { "data": "BusinessContactDisplay" },
            { "data": "Type" },
            { "data": "CancelledDateDisplay" },
             {
                 "data": "CurrentSubscriptionID",
                 "render": function (data, type, full, meta) {
                     if (data) {
                         return '<span class="label label-sm label-success">Yes</span>';
                     } else {
                         return '<span class="label label-sm label-danger">No</span>';
                     }
                 }
             },
            {
                "data": "ListingID",
                "orderable": false,
                "render":
                    function (data, type, full, meta) {
                        return '<a class="btn blue btn-xs" href="/Listings/AdminDetails/' + data + '">View Details</a>';
                    }
            }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#listings").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#listings tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var initPickers = function () {
                    // Initialize date pickers used for the datatable filters..
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true
                    });
                }

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#listings"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [1, 10, 20, 50, 100, 150],
                                [1, 10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/SiteUtilities/GetManagedListingsPaged",
                            },
                            // Set the second column as the default sort column.
                            "order": [[1, "asc"]]
                        }
                    });

                    // Handle the group actionsubmit button click.
                    grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                        e.preventDefault();
                    });
                }

                return {
                    init: function () {
                        initPickers();
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });
    </script>
}

