﻿@{
    ViewBag.Title = "ListingConversion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Listing Conversion</h1></div>
    <hr />
    <div class="portlet-body">
        <div id="conversion-success-note" class="note note-shadow note-success hidden">
            You have converted the Listing successfully.
        </div>

        @Html.AntiForgeryToken()
        <table id="listing-conversion-table" class="table table-hover table-striped" data-total-records="0">
            <thead>
                <tr rolw="row" class="heading">
                    <th width="5%">ID</th>
                    <th>Business</th>
                    <th>Fax Number</th>
                    <th width="15%">CreateDate</th>
                    <th></th>
                </tr>
                <tr role="row" class="filter">
                    <td>
                        <input type="text" class="form-control form-filter" name="ListingIdentifier" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter" name="BusinessName" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter" name="FaxNumber" />
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal dialog used to display the details of the listing. -->
<div class="modal" id="listing-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <!-- Container used to display listing details. -->
                <div id="listing-detail-container">

                </div>
            </div>
            <div class="modal-footer">
                <button id="convert-listing-button" class="btn blue">Convert Listing</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal dialog used to display the conversion form for the listing. -->
<div class="modal" id="conversion-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form id="convert-listing-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="conversion-errors-container" class="note note-shadow note-danger hidden">
                            </div>
                            <h3>Please provide a username and email to convert this listing.</h3>
                            <input id="hiddenListingID" type="hidden" name="ListingID" />
                            <div class="form-group">
                                <label><strong>Username</strong></label>
                                <span class="required" aria-required="true">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <input type="text" class="form-control" name="Username" />
                            </div>
                            <div class="form-group">
                                <label><strong>Email Address</strong></label>
                                <span class="required" aria-required="true">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <input type="text" class="form-control" name="EmailAddress" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="convert-form-submit-button" type="submit" class="btn blue">Submit</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var columns = [
            { "data": "ListingID" },
            { "data": "BusinessName" },
            { "data": "FaxNumber", "orderable": false },
            { "data": "ListingCreateDateDisplay", "orderable": false },
            {
                "data": "ListingID",
                "orderable": false,
                "render":
                    function (data, type, full, meta) {
                        return '<button class="details-button btn blue btn-xs" data-listing-identifier="' + data + '">View Details</button>';
                    }
            }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#listing-conversion-table").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#listing-conversion-table tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#listing-conversion-table"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [1, 10, 20, 50, 100, 150],
                                [1, 10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/SiteUtilities/GetBulkListings",
                            },
                            // Set the second column as the default sort column.
                            "order": [[1, "asc"]]
                        }
                    });

                    // Handle the group actionsubmit button click.
                    grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                        e.preventDefault();
                    });

                    // Handle the conversion form submit.
                    $("#convert-listing-form").submit(function (e) {
                        e.preventDefault();
                        // Serialize the form values.
                        var formData = $(this).serializeObject();

                        // Call the AJAX method to convert the listing to a manual listing.
                        AjaxMethods.ConvertBulkListing(formData.ListingID, formData.Username, formData.EmailAddress)
                            .done(function (data) {
                                // If there was an error display the message.
                                if (typeof data.errorMessage !== "undefined") {
                                    $("#conversion-errors-container").html(data.errorMessage);
                                    $("#conversion-errors-container").removeClass("hidden");
                                } else {
                                    // If not refresh the table and close the modal windows.
                                    grid.getDataTable().ajax.reload();
                                    grid.clearAjaxParams();
                                    $('#conversion-modal').modal('hide');
                                    $('#listing-details-modal').modal('hide');
                                    // Display the success message.
                                    $("#conversion-success-note").removeClass('hidden');
                                }
                            })
                            .fail(function () {
                                bootbox.alert("Oops, something went wrong.");
                            });
                    });
                }

                return {
                    init: function () {
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();

            // Display the details for the selected listing.
            $('body').on('click', '.details-button', function () {
                var listingID = $(this).data("listing-identifier");
                // Save the listing identifier in the submit button for the conversion form.
                $("#convert-listing-form").find("#hiddenListingID").val(listingID);
                // Display the details for the selected listing.
                AjaxMethods.GetListingDetailsHTML(listingID)
                    .done(function (data) {
                        // Render the returned HTML and show the detail modal.
                        $("#listing-detail-container").html(data);
                        $('#listing-details-modal').modal('show');
                    })
                    .fail(function () {
                        bootbox.alert("Oops, something went wrong.");
                    });
            });

            $("#convert-listing-button").click(function () {
                $('#conversion-modal').modal('show');
            });
        });
    </script>
}