﻿@model TemplateApplication.Models.ViewModels.PricingViewModel

@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
}

<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <h2>Update Pricing</h2>
                <hr />
                <div class="note note-shadow note-info">
                    <strong>Please make sure you provide pricing costs in cents. e.g. $200 must be entered as 20000.</strong>
                </div>
                @using (Html.BeginForm("Pricing", "SiteUtilities", FormMethod.Post, new { id = "pricing-form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>Cost Per Directory</strong></label>
                                @Html.TextBoxFor(model => model.CurrentPricingModel.CostPerDirectory, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>Cost Per Description Line</strong></label>
                                @Html.TextBoxFor(model => model.CurrentPricingModel.CostPerDescription, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn blue pull-right">Save Pricing</button>
                    <div class="clearfix"></div>
                }
            </div>
            <div class="col-md-6">
                <h2>Pricing History</h2>
                <hr />
                <table id="pricing-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Directory Cost</th>
                            <th>Description Cost</th>
                            <th>Change User</th>
                            <th>Change Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pricingModel in Model.HistoricalPricingModels)
                        {
                            <tr>
                                <td>@pricingModel.CostPerDirectoryDisplay</td>
                                <td>@pricingModel.CostPerDescriptionDisplay</td>
                                <td>@pricingModel.CreateUserNameDisplay</td>
                                <td>@pricingModel.CreateDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/jQueryValidation")

    <script type="text/javascript">
        $("#pricing-table").DataTable({
            "language":
            {
                "lengthMenu": "Display _MENU_",
                "zeroRecords": "There is no pricing information available in the database.",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Search "
            },
            "order": [[3, "desc"]],
            "lengthMenu": [
                [5, 10, 25, 50],
                [5, 10, 25, 50]
            ]
        });

        // jQuery validation for th pricing model form.
        var validatedForm = $('#pricing-form');
        validatedForm.validate({
            // Default input error message container.
            errorElement: 'span',
            // Default input error message class.
            errorClass: 'help-block help-block-error',
            // Do not focus the last invalid input.
            focusInvalid: false,
            rules: {
                'CurrentPricingModel.CostPerDirectory': {
                    required: true,
                    number: true,
                    min: 100
                },
                'CurrentPricingModel.CostPerDescription': {
                    required: true,
                    number: true
                }
            },
            messages: {
                'CurrentPricingModel.CostPerDirectory': {
                    required: "Please provide the cost per directory.",
                    number: "Please provide a valid number.",
                    min: "Please provide a price of $1 dollar or more."
                },
                'CurrentPricingModel.CostPerDescription': {
                    required: "Please provide the cost per description line.",
                    number: "Please provide a valid number."
                }
            },
            highlight: function (element) {
                // Hightlight error inputs.
                // Set error class to the control group.
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                // Revert the change done by hightlight.
                // Set error class to the control group.
                $(element).closest('.form-group').removeClass('has-error');
            },
            success: function (label) {
                // Mark the current input as valid and display OK icons.
                // Set success class to the control group
                label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    </script>
}