﻿@model Models.Models.PagedList<Models.Models.TradeLead>

@{
    ViewBag.Title = "TradeLeadEditorSummary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
}

<div class="portlet light col-md-12">
    <div class="portlet-title">
        <h1>Trade Lead Editor</h1>
    </div>
    <hr />
    <div class="portlet-body">
        <div class="table-container">
            <div class="table-actions-wrapper">
                <span></span>
                @Html.ActionLink("Create New Lead", "Create", "TradeLeads", new { }, new { @class = "btn blue" })
            </div>
            <table id="tradeleads" class="table table-striped table-hover" data-total-records="@Model.TotalRecords">
                <thead>
                    <tr role="row" class="heading">
                        <th width="10%">
                            ID
                        </th>
                        <th>
                            Title
                        </th>
                        <th width="15%">
                            Date Created
                        </th>
                        <th width="15%">
                            Created By
                        </th>
                        <th></th>
                    </tr>
                    <tr role="row" class="filter">
                        <td><input type="text" class="form-control form-filter" name="TradeLeadID" /></td>
                        <td><input type="text" class="form-control form-filter" name="Title" /></td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="CreateDateStart" placeholder="Start">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control form-filter input-sm" name="CreateDateEnd" placeholder="End">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td><input type="text" class="form-control form-filter" name="UserName" /></td>
                        <td>
                            <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tradeLead in Model.PagedListItems)
                    {
                        <tr>
                            <td>@tradeLead.TradeLeadID</td>
                            <td>@tradeLead.Title</td>
                            <td>@tradeLead.CreateDateDisplay</td>
                            <td>@tradeLead.CreateUserNameDisplay</td>
                            <td>@tradeLead.TradeLeadID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var columns = [
                { "data": "TradeLeadID" },
                { "data": "Title", "orderable": false },
                { "data": "CreateDateDisplay" },
                { "data": "CreateUserNameDisplay" },
                {
                    "orderable": false,
                    "data": "TradeLeadID",
                    "render":
                    function (data, type, full, meta) {
                        return '<a href="/TradeLeads/Edit/'+ data +'" class="btn btn-xs blue">Edit</a><button type="button" class="btn btn-xs blue delete-button">Delete</button>';
                    }
                }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#tradeleads").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#tradeleads tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var grid;

                var initPickers = function () {
                    // Initialize date pickers.
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true
                    });
                }

                var handleRecords = function () {
                    grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#tradeleads"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": true,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50, 100, 150],
                                [10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/SiteUtilities/GetTradeLeadsPaged",
                            },
                            "order": [[2, "desc"]]
                        }
                    });
                }

                //$('body').on('click', '.edit-button', function () {
                //    var row = $(this).closest("tr")[0];
                //    var rowData = grid.getDataTable().row(row).data();
                //    var tradeLeadID = rowData.TradeLeadID;
                //    // Send the user to the TradedLeads/Edit/ID page.
                //    // Similar behavior as clicking on a link.
                //    window.location.href = "/TradeLeads/Edit/" + tradeLeadID;
                //});

                $('body').on('click', '.delete-button', function () {
                    var row = $(this).closest("tr")[0];
                    var rowData = grid.getDataTable().row(row).data();
                    var tradeLeadID = rowData.TradeLeadID;
                    bootbox.confirm("Are you sure you'd like to delete this lead?", function (result) {
                        if (result === true) {
                            AjaxMethods.DeleteTradeLead(tradeLeadID).done(function () {
                                grid.getDataTable().ajax.reload();
                            }).fail(function () {
                                bootbox.alert("Oops, something went wrong.");
                            });
                        }
                    });
                });

                return {
                    init: function () {
                        initPickers();
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });
    </script>
}