﻿@model TemplateApplication.Models.ViewModels.UserDetailViewModel

@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>User Details: </h2>
        <div class="row">
            <div col-md-12>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><strong>UserName:</strong></label>
                        <div class="col-md-8">
                            @Model.UserDetail.UserName
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><strong>Last Login Date:</strong></label>
                        <div class="col-md-8">
                            @Model.UserDetail.LastLoginDateDisplay
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        @if (Model.UserListings != null && Model.UserListings.Any())
        {
            <div class="row">
                <!-- Display the listings that are owned by the user. -->
                @foreach (var listing in Model.UserListings)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <h4><strong>@listing.BusinessName</strong></h4>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-block blue" href="/Listings/AdminDetails/@listing.ListingID">View Listing</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="note note-danger note-shadow">This user does not have any listings connected to their user account.</div>
        }
    </div>
</div>