﻿@model TemplateApplication.Models.ViewModels.SiteUsersModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/datatables/plugins/bootstrap/DataTablesStyling")
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
}

<div class="portlet light col-md-12">
    <div class="portlet-title"><h1>Site Users</h1></div>
    <hr />
    <div class="portlet-body">
        <!-- Anti-Forgery token used when posting to get order details. -->
        @Html.AntiForgeryToken()
        <table id="users" class="table table-striped table-hover" data-total-records="@Model.SiteUsersPaged.TotalRecords">
            <thead>
                <tr role="row" class="heading">
                    <th width="10%">User ID</th>
                    <th>User Name</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
                <tr role="row" class="filter">
                    <td><input type="text" class="form-control form-filter" name="UserID" /></td>
                    <td><input type="text" class="form-control form-filter" name="UserName" /></td>
                    <td><input type="text" class="form-control form-filter" name="EmailAddress" /></td>
                    <td>
                        <button class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.SiteUsersPaged.PagedListItems)
                {
                    <tr>
                        <td>@user.UserID</td>
                        <td>@user.UserNameDisplay</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.UserID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/DatatableScripts")
    @Scripts.Render("~/BootstrapSelectScripts")
    <script src="~/Content/assets/global/scripts/datatable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [
            { "data": "UserID" },
            { "data": "UserNameDisplay" },
            { "data": "EmailAddress" },
            {
                "data": "UserID",
                "orderable": false,
                "render":
                    function (data, type, full, meta) {
                        return '<a class="btn blue btn-xs" href="/SiteUtilities/UserDetail/' + data + '">View</a><button class="btn blue btn-xs convert-button">Create Administrator</button>';
                    }
            }
            ];

            var getTotalRecords = function () {
                var totalRecords = $("#users").data("total-records");
                return totalRecords;
            }

            var tableData = [];
            $('#users tbody tr').each(
                function () {
                    var item = {};
                    $(this).find('td').each(
                        function (i) {
                            item[columns[i].data] = $(this).html();
                        }
                    );
                    tableData.push(item);
                }
            );

            var tableAjax = function () {
                var handleRecords = function () {
                    var grid = new Datatable();
                    grid.init({
                        // The table ID to convert.
                        src: $("#users"),
                        loadingMessage: 'Loading...',
                        // Here you can define the typical Datatable settings.
                        dataTable: {
                            "sortMulti": false,
                            "processing": true,
                            "serverSide": true,
                            // Save Datatable state (pagination, sort, etc) in cookie.
                            "bStateSave": false,
                            "columns": columns,
                            "deferLoading": getTotalRecords(),
                            "data": tableData,
                            "lengthMenu": [
                                [10, 20, 50, 100, 150],
                                [10, 20, 50, 100, 150]
                            ],
                            // Default record count per page.
                            "pageLength": 10,
                            "ajax": {
                                "url": "/SiteUtilities/GetSiteUsersPaged",
                            },
                            // Set the second column as the default sort column.
                            "order": [[1, "asc"]]
                        }
                    });

                    // Handle the convert to admin button click event.
                    $('body').on('click', '.convert-button', function () {
                        // Retrieve the user identifier for the selected user.
                        var row     = $(this).closest("tr")[0];
                        var rowData = grid.getDataTable().row(row).data();
                        var userID  = rowData.UserID;

                        // Display confirmation box.
                        bootbox.confirm("Are you sure you'd like to convert this user to an administrator?", function (result) {
                            if (result === true) {
                                // Call the Conversion AJAX method.
                                AjaxMethods.ConvertUserToAdmin(userID)
                                    .done(function (data) {
                                        bootbox.alert("User successfully converted to administrator.");
                                        // Reload the grid panel to display changes.
                                        grid.getDataTable().ajax.reload();
                                        grid.clearAjaxParams();
                                    })
                                    .fail(function () {
                                        bootbox.alert("Oops, something went wrong.");
                                        grid.getDataTable().ajax.reload();
                                        grid.clearAjaxParams();
                                    });
                            }
                        });
                    });
                }
                return {
                    init: function () {
                        handleRecords();
                    }
                };
            }();

            tableAjax.init();
        });
    </script>
}
