﻿@model Services.ForgotPasswordModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>North American Trade Registry</div>
        <p>You have received this email because your account at North American Trade Registry has had its password reset. To reset your password, please click on the link below.</p>
        <a href="businesslistings.azurewebsites.net/Account/Reset?token=@Model.Token">Reset Password</a>
    </div>
</body>
</html>
