﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello,

        <p>
            You are receiving this email because we were unable to charge your credit card for you North American Trade Registry account. The subscription for the business listed on our site has expired. Please sign into your North American Trade Registry account and purchase a subscription for your business. Your business will be removed shortly if a subscription is not purchased.
        </p>
        <p>
            Thank you,<br />
            The North American Trade Registry Team.
        </p>
    </div>
</body>
</html>
