﻿@model TemplateApplication.Models.ViewModels.ForgotModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    <link href="~/Content/css/RegisterLoginStyling.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-12">
        <div id="login-container" class="portlet light col-md-6 col-md-offset-3">
            <div class="portlet-body">
                @using (Html.BeginForm("Forgot", "Account", FormMethod.Post))
                {
                    <div class="form-body">
                        <h2 class="form-title">Forgot Password / Username</h2>
                        <hr id="title-hr" />
                        @Html.AntiForgeryToken()
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <p>Please provide the email address that you used when you signed up for your North American Trade Registry account.</p>
                                <p>We will an email that will provide your username and allow you to reset your password.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control placeholder-no-fix", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </div>
                                <button type="submit" class="btn blue pull-right">Send Verification Email</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>