﻿@model TemplateApplication.Models.ViewModels.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    @Styles.Render("~/Content/assets/global/plugins/uniform/css/Uniform")
    <link href="~/Content/css/RegisterLoginStyling.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-12">
        <div class="portlet light col-md-4 col-md-offset-4">
            <div class="portlet-body">
                @if (!string.IsNullOrEmpty(ViewBag.MessageType))
                {
                    if (ViewBag.MessageType.Equals("ForgotPasswordSent"))
                    {
                        <div class="note note-success note-shadow">
                            An email with password reset instructions has been sent to your email address if it exists in our system.
                        </div>
                    }
                    if (ViewBag.MessageType.Equals("PasswordResetSuccess"))
                    {
                        <div class="note note-success note-shadow">
                            Your password has been successfully reset.
                        </div>
                    }
                }
                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    <div class="form-body">
                        <h2 class="form-title">
                            Sign In
                        </h2>
                        <hr id="title-hr" />
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix", @placeholder = "Username" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="rememberme check pull-left">
                                    @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                                </label>
                                <input type="submit" value="Log in" class="btn blue pull-right" />
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("Forgot Password?", "Forgot", "Account")
                    </div>
                </div>
                <div class="row">
                    <div id="register-link-column">
                        Don't have an account?
                        @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-block blue" })
                    </div>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/assets/global/plugins/GlobalScripts")
    <script>
        $(document).ready(function () {
            $("#RememberMe").uniform();
        });
    </script>

</body>
</html>
