﻿@model TemplateApplication.Models.ViewModels.ManageAccountViewModel

<!-- Set the layout of the page depending on the type of user. -->
@{
    Layout = ViewBag.Layout;
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")

    <style type="text/css">
        .fa-4x {
            font-size: 4em !important;
            line-height: initial !important;
        }

        #card-number-container {
            font-size: 18px;
        }

        .credit-card-portlet hr {
            margin: 10px 0 !important;
        }
    </style>
}

<div class="portlet light">
    <div class="portlet-title">
        <h2>
            My Account:
            <strong>@User.Identity.Name</strong>
            @if (Model.IsAdministrator)
            {
                <span class="badge badge-roundless badge-success">Administrator</span>
            }
        </h2>
        <hr />
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <!-- Do not show the listings tab if the user is an administrator. -->
                        @if (!Model.IsAdministrator)
                        {
                            <li class="active">
                                <a href="#user-listings" data-toggle="tab" aria-expanded="true">
                                    <h4><strong>My Listings</strong></h4>
                                </a>
                            </li>
                        }

                        <!-- Do not show the tab to update a credit card if the user is an administrator. -->
                        @if (!Model.IsAdministrator)
                        {
                            <li>
                                <a href="#user-payment" data-toggle="tab">
                                    <h4><strong>Payment Method</strong></h4>
                                </a>
                            </li>
                        }

                        <!-- This is the only tab displayed for both user types. -->
                        <li class="@(Model.IsAdministrator ? "active" : "")">
                            <!-- If the user that is logged in is an admin, set the settings tab as the active tab. -->
                            <a href="#user-settings" data-toggle="tab">
                                <h4><strong>Account Settings</strong></h4>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- Do not show the listings tab if the user is an administrator. -->
                        @if (!Model.IsAdministrator)
                        {
                            <div class="tab-pane active" id="user-listings">
                                <div class="col-md-12">
                                    <h1>My Listings</h1>
                                    <hr />
                                    <!-- This section is used to display messages to the user. -->
                                    @if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        if (Model.Message.Equals("UnpaidOrderExists"))
                                        {
                                            <div class="note note-danger note-shadow">
                                                Please pay the bill for your business listing. Click the "Pay Listing Bill" button below in order to pay your bill. Once paid, you can customize your listing.
                                            </div>
                                        }
                                    }
                                    <!-- Render the "My Listings" view. -->
                                    @Html.Partial("_ViewListingsPartial", Model.Listings)
                                </div>
                            </div>
                        }

                        <!-- Payment method tab. Hidden for administrators. -->
                        @if (!Model.IsAdministrator)
                        {
                            <div class="tab-pane" id="user-payment">
                                <div class="col-md-12">
                                    <div class="col-sm-12 col-md-6">
                                        <h1>Default Credit Card</h1>
                                        <hr />
                                        @if (Model.UserCards != null && Model.UserCards.Any())
                                        {
                                            @Html.Partial("_CreditCard", Model.UserCards)
                                        }
                                        else
                                        {
                                            <div class="note note-danger note-shadow">You do not have a payment method on file yet.</div>
                                        }
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <h1>Update Payment Method</h1>
                                        <hr />
                                        <div class="col-md-12">
                                            @Html.Partial("_PaymentForm", Model.States)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Account settings tab displayed for both user types. -->
                        <div class="tab-pane @(Model.IsAdministrator ? "active" : "")" id="user-settings">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h1>Password</h1>
                                    <hr />
                                    <div class="col-md-12">
                                        @if (ViewBag.HasLocalPassword)
                                        {
                                            @Html.Partial("_ChangePasswordPartial", Model.LocalPasswordModel)
                                        }
                                        else
                                        {
                                            @Html.Partial("_SetPasswordPartial", Model.LocalPasswordModel)
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1>Email Address</h1>
                                    <hr />
                                    <h4><strong>Current Email Address: </strong><span id="email-address-text-span"> @Model.CurrentEmailAddress</span></h4>
                                    <div class="col-md-12">
                                        @Html.Partial("_ChangeEmailPartial", Model.ChangeEmailModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="~/Scripts/global/PaymentFormInitialization.js"></script>
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")

    <script type="text/javascript">
        (function () {
            $(document).ready(function () {
                // This identifies your website in the createToken call below
                Stripe.setPublishableKey('pk_test_z6EHIkg5eoUDtcJpyZeNcavM');

                // Form used to update the payment method for this user.
                var createCreditCardToken = function () {
                    var $form = $("#payment-form");
                    // Disable the submit button to prevent repeated clicks
                    $form.find('button').prop('disabled', true);

                    Stripe.card.createToken($form, stripeResponseHandler);
                    // Prevent the form from submitting with the default action
                    return false;
                };

                $(document).on("paymentFormSubmitted", createCreditCardToken);

                function retrieveCustomerCards() {
                    $("#payment-form .has-success").removeClass("has-success");
                    AjaxMethods.GetUserCreditCards().done(function (data) {
                        $("#user-card-container").html(data);
                    }).fail(function () {
                        bootbox.alert("There was an issue retrieving your credit cards");
                    });
                }

                function stripeResponseHandler(status, response) {
                    var $form = $('#payment-form');
                    if (response.error) {
                        // Show the errors on the form.
                        $form.find('.payment-errors').text(response.error.message);
                        $form.find('button').prop('disabled', false);
                    }
                    else {
                        // Response contains id and card, which contains additional card details.
                        var token = response.id;
                        // Insert the genrated token into the form so it gets submitted to the server.
                        $form.append($('<input type="hidden" name="cardToken" />').val(token));
                        // Serialize the form and submit.
                        var object = $form.serializeObject();
                        AjaxMethods.SaveCustomerCard(object)
                            .done(function (data) {
                                bootbox.alert(data.message);
                                if (data.success) {
                                    $form.find('input').val("");
                                    $('#expiration-month-select').selectpicker('val', '');
                                    $('#expiration-year-select').selectpicker('val', '');
                                    $('#state-select').selectpicker('val', '');
                                    $form.find('button').prop('disabled', false);
                                    retrieveCustomerCards();
                                }
                            })
                            .fail(function () {
                                bootbox.alert("Oops, something went wrong.");
                            });
                    }
                };


                // jQuery validation for the change password form.
                var passwordForm = $('#change-password-form');
                passwordForm.validate({
                    // Default input error message container.
                    errorElement: 'span',
                    // Default input error message class.
                    errorClass: 'help-block help-block-error',
                    // Do not focus the last invalid input.
                    focusInvalid: false,
                    rules: {
                        'Password[CurrentPassword]': {
                            required: true
                        },
                        'Password[NewPassword]': {
                            required: true
                        },
                        'Password[ConfirmPassword]': {
                            required: true,
                            equalTo: "#NewPassword"
                        }
                    },
                    messages: {
                        'Password[CurrentPassword]': {
                            required: "Please enter your current password."
                        },
                        'Password[NewPassword]': {
                            required: "Please enter your new password."
                        },
                        'Password[ConfirmPassword]': {
                            required: "Please confirm your new password.",
                            equalTo: "Your new password does not match."
                        }
                    },

                    highlight: function (element) {
                        // Hightlight error inputs.
                        // Set error class to the control group.
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },

                    unhighlight: function (element) {
                        // Revert the change done by hightlight.
                        // Set error class to the control group.
                        $(element).closest('.form-group').removeClass('has-error');
                    },

                    success: function (label) {
                        // Mark the current input as valid and display OK icons.
                        // Set success class to the control group
                        label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                    },

                    submitHandler: function () {
                        changePassword();
                    }
                });

                // Form used to update the current user's password.
                var changePassword = function () {
                    var $form = $("#change-password-form");
                    var password = $form.serializeObject();
                    AjaxMethods.ChangePassword(password)
                        .done(function (data) {
                            bootbox.alert(data.message);
                            // Clear out the password form on success.
                            $form.find('input').val("");
                            $form.find(".form-group").removeClass("has-success");
                        })
                        .fail(function () {
                            bootbox.alert("Your password could not be updated. Try again later.");
                        });
                };


                // jQuery validation for the update email address form.
                var emailForm = $('#change-email-form');
                emailForm.validate({
                    // Default input error message container.
                    errorElement: 'span',
                    // Default input error message class.
                    errorClass: 'help-block help-block-error',
                    // Do not focus the last invalid input.
                    focusInvalid: false,
                    rules: {
                        'EmailModel[NewEmailAddress]': {
                            required: true,
                            email: true
                        },
                        'EmailModel[ConfirmEmailAddress]': {
                            required: true,
                            equalTo: "#NewEmailAddress",
                            email: true
                        }
                    },
                    messages: {
                        'EmailModel[NewEmailAddress]': {
                            required: "Please provide your new email address.",
                            email: "Please provide a valid email address."
                        },
                        'EmailModel[ConfirmEmailAddress]': {
                            required: "Please confirm your new email address.",
                            equalTo: "The email addresses you provided do not match.",
                            email: "Please provide a valid email address."
                        }
                    },

                    highlight: function (element) {
                        // Hightlight error inputs.
                        // Set error class to the control group.
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },

                    unhighlight: function (element) {
                        // Revert the change done by hightlight.
                        // Set error class to the control group.
                        $(element).closest('.form-group').removeClass('has-error');
                    },

                    success: function (label) {
                        // Mark the current input as valid and display OK icons.
                        // Set success class to the control group
                        label.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                    },

                    submitHandler: function () {
                        changeEmailAddress();
                    }
                });


                // Function used to update the user's current email address.
                var changeEmailAddress = function () {
                    var $form = $("#change-email-form");
                    var formObject = $form.serializeObject();
                    debugger;
                    AjaxMethods.ChangeEmailAddress(formObject.EmailModel)
                        .done(function (data) {
                            bootbox.alert(data.Message);
                            if (data.Success) {
                                var newEmailAddress = $("#NewEmailAddress").val();
                                $("#email-address-text-span").html(newEmailAddress);
                                // Clear out the password form on success.
                                $form.find("input").val("");
                                $form.find(".form-group").removeClass("has-success");
                            }
                        })
                        .fail(function () {
                            bootbox.alert("An issue occured when updating your email address. Please try again later.");
                        });
                };


            });
        }());
    </script>
}
