﻿@model TemplateApplication.Models.ViewModels.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    @Styles.Render("~/Content/assets/global/plugins/uniform/css/Uniform")
    <link href="~/Content/css/RegisterLoginStyling.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-12">
        <div id="login-container" class="portlet light col-md-4 col-md-offset-4">
            <div class="portlet-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <div class="form-body">
                        <h2 class="form-title">Register</h2>
                        <hr id="title-hr" />
                        @Html.AntiForgeryToken()
                        @if (Html.ViewData.ModelState.ContainsKey(""))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "note note-danger note-shadow" })
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix", @placeholder = "Username" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group margin-top-20 margin-bottom-20">
                                    <label class="check">
                                        @Html.CheckBoxFor(m => m.Terms)
                                        I agree to the <a href="~/Information/Terms">Terms of Service</a> & <a href="~/Information/Privacy">Privacy Policy</a><br />
                                        @Html.ValidationMessageFor(m => m.Terms)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" value="Register" class="btn blue pull-right">Create Account</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/assets/global/plugins/GlobalScripts")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Terms").uniform();
        });
    </script>
</body>
</html>