﻿@model TemplateApplication.Models.ViewModels.ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/custom/GlobalCustomStyling")
    @Styles.Render("~/Content/assets/global/css/GlobalComponentThemeLayout")
    <link href="~/Content/css/RegisterLoginStyling.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-12">
        <div id="login-container" class="portlet light col-md-4 col-md-offset-4">
            <div class="portlet-body">
                @using (Html.BeginForm("Reset", "Account", FormMethod.Post))
                {
                    <div class="form-body">
                        <h2 class="form-title">Reset Password</h2>
                        <hr id="title-hr" />
                        @Html.AntiForgeryToken()
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        }
                        @Html.HiddenFor(m => m.ResetToken)
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h3>Please enter your new password.</h3>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "New Password" })
                                    @Html.ValidationMessageFor(m => m.NewPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "Confirm New Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                                </div>
                                <button type="submit" class="btn blue pull-right">Reset Password</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>