﻿.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #ADADAD !important;
}

.page-head .page-title > h1 {
    color: black;
}

#menu-dropdown-button {
    padding: 12px 12px 12px 12px !important;
    text-transform: none !important;
}

@media (max-width: 480px) {
    .page-header .page-header-top .top-menu {
        margin-top: 0 !important;
        margin-bottom: 10px !important;

    }
}
