﻿.page-content-wrapper .page-content {
  padding-top: 0 !important;
}

.md-shadow-z-2-i {
    -webkit-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    -ms-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
}
      
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}


.dashboard-stat2 {
   -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    -ms-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
}

/* This was adding to correct a padding issue in the Admin4 layout user dropdown menu. */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 29px 12px 24px 12px;
}