﻿.portlet {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -ms-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
}

.well {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}

.md-shadow-z-2, .ver-inline-menu, .panel, .popover {
    -webkit-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -ms-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
}

.panel {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    -ms-box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
    box-shadow: 0 1px 3px #000000,0 1px 2px #000000 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18) !important;
}


.btn {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.form-control {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-header {
    background-color: #444d58;
    color: white;
}

.close {
    color: white;
    -ms-opacity: 1;
    opacity: 1;
}

.help-block {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.btn {
    text-transform: none !important;
}


span.required-above i {
    font-size: 50% !important;
    padding-bottom: 3px !important;
    display: inline-table !important;
    vertical-align: bottom !important;
    color: #e02222;
    line-height: 22px !important;
}

span.required i {
    font-size: 50% !important;
    padding-bottom: 3px !important;
    display: inline-table !important;
    vertical-align: bottom !important;
    color: #e02222;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
}


/* Styling for the industry tags. */
.blog-tag-data ul {
    margin-bottom: 5px;
}

.blog-tag-data li {
    padding: 0;
}

    .blog-tag-data li i {
        color: #78cff8;
    }

    .blog-tag-data li a {
        padding: 0;
        color: #555;
        margin-right: 8px;
    }

.blog-tag-data {
    margin-bottom: 10px;
}

    .blog-tag-data ul.blog-tags a {
        background: #eee;
        padding: 1px 4px;
        margin: 0 4px 4px 0;
        display: inline-block;
    }

        .blog-tag-data ul.blog-tags a:hover {
            background: #ddd;
            text-decoration: none;
        }

    .blog-tag-data .blog-tag-data-inner {
        text-align: right;
    }

    .blog-tag-data img {
        margin-bottom: 12px;
    }
