﻿@model Models.Models.AdminDasboardStatisticsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light col-md-12">
    <div id="buttons-container" class="portlet-title">
        <button id="today-button" class="btn blue active">Today</button>
        <button id="week-button" class="btn blue">Week</button>
        <button id="month-button" class="btn blue">Month</button>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat2">
                    <div class="display">
                        <div class="number">
                            <div class="today">
                                <h3 class="font-blue-sharp">@Model.NewListingsPerDay</h3>
                                <small>New Listings Today</small>
                            </div>
                            <div class="week hidden">
                                <h3 class="font-blue-sharp">@Model.NewListingsPerWeek</h3>
                                <small>New Listings This Week</small>
                            </div>
                            <div class="month hidden">
                                <h3 class="font-blue-sharp">@Model.NewListingsPerMonth</h3>
                                <small>New Listings This Month</small>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="icon-doc"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat2">
                    <div class="display">
                        <div class="number">
                            <div class="today">
                                <h3 class="font-blue-sharp">@Model.PaymentsPerDay</h3>
                                <small>New Payments Today</small>
                            </div>
                            <div class="week hidden">
                                <h3 class="font-blue-sharp">@Model.PaymentsPerWeek</h3>
                                <small>New Payments This Week</small>
                            </div>
                            <div class="month hidden">
                                <h3 class="font-blue-sharp">@Model.PaymentsPerMonth</h3>
                                <small>New Payments This Month</small>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="icon-wallet"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat2">
                    <div class="display">
                        <div class="number">
                            <div class="today">
                                <h3 class="font-blue-sharp">@Model.NewUsersPerDay</h3>
                                <small>New Users Today</small>
                            </div>
                            <div class="week hidden">
                                <h3 class="font-blue-sharp">@Model.NewUsersPerWeek</h3>
                                <small>New Users This Week</small>
                            </div>
                            <div class="month hidden">
                                <h3 class="font-blue-sharp">@Model.NewUsersPerMonth</h3>
                                <small>New Users This Month</small>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // Event listeners for each time interval button.
            // Depending on which button is clicked, the appropriate information is displayed.
            // HTML in the view is given a specific class. These listeners display the apporpriate classes.
            $("#today-button").click(function () {
                $("#buttons-container").find("button").removeClass("active");
                $(this).addClass("active");
                $(".today").removeClass("hidden");
                $(".week").addClass("hidden");
                $(".month").addClass("hidden");
            });

            $("#week-button").click(function () {
                $("#buttons-container").find("button").removeClass("active");
                $(this).addClass("active");
                $(".today").addClass("hidden");
                $(".week").removeClass("hidden");
                $(".month").addClass("hidden");
            });

            $("#month-button").click(function () {
                $("#buttons-container").find("button").removeClass("active");
                $(this).addClass("active");
                $(".today").addClass("hidden");
                $(".week").addClass("hidden");
                $(".month").removeClass("hidden");
            });

        });
    </script>
}
