﻿body {
    background-color: #3b3f51;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
}

.field-validation-error {
    color: #f3565d;
}

.validation-summary-errors li {
    text-align: center;
}

.portlet {
    margin-top: 50px;
}

.portlet-body {
    padding: 45px 20px;
}

.form-title {
    text-align: center;
}

#title-hr {
    padding-bottom: 15px;
}

.rememberme {
    line-height: 39px;
}

#register-link-column {
    margin-top: 10px;
    text-align: center;
}