﻿@model TemplateApplication.Models.ViewModels.LocalPasswordModel

<form id="change-password-form" class="form-horizontal form" role="form">
    @Html.AntiForgeryToken()
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label"><strong>Current Password</strong></label>
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", Name = "Password[CurrentPassword]" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label"><strong>New Password</strong></label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", Name = "Password[NewPassword]" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label"><strong>Confirm Password</strong></label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", Name = "Password[ConfirmPassword]" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <button class="btn blue pull-right" type="submit">Change Password</button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
