﻿@model TemplateApplication.Models.ViewModels.ChangeEmailModel

<form id="change-email-form" class="form-horizontal form" role="form">
    @Html.AntiForgeryToken()
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label"><strong>New Email Address</strong></label>
                    @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form-control", Name = "EmailModel[NewEmailAddress]" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label"><strong>Confirm Email Address</strong></label>
                    @Html.TextBoxFor(m => m.ConfirmEmailAddress, new { @class = "form-control", Name = "EmailModel[ConfirmEmailAddress]" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <button class="btn blue pull-right" type="submit">Update Email Address</button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>