﻿@using Models.Models
@model List<Listing>

@if (Model != null && Model.Any())
{
    <div class="row">
        <!-- Display the listings that are owned by the user. -->
        @foreach (Listing listing in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portlet light">
                    <div class="portlet-title">
                        <h4><strong>@listing.BusinessName</strong></h4>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!--
                                    If there is an unpaid order for the listing we want them to pay that instead of creating a new
                                    subscription and leaving an unpiad order sitting around doing nothing. This will also bring more attention
                                    to the fact that they need to pay their order to allow their listing to appear in the site.
                                    -->
                                @if (listing.Orders != null && listing.Orders.Any())
                                {
                                    <!-- Otherwise, display an error message. -->
                                    <div class="note note-shadow note-danger">
                                        <a href="/Orders/Pay/@listing.Orders.FirstOrDefault().OrderID" class="btn blue btn-block">Pay Listing Bill</a>
                                    </div>
                                }
                                else
                                {
                                    <!-- If there is a subscription for this listing. -->
                                    <!-- Display some info about the subscription. -->
                                    if (listing.CurrentSubscription != null)
                                    {
                                        <h4 class="text-center"><strong>Current Subscription</strong></h4>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><strong>Ends:</strong></label>
                                                    @listing.CurrentSubscription.EndDateDisplay
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><strong>Cost:</strong></label>
                                                    @listing.CurrentSubscription.SubscriptionCostDisplay
                                                </div>
                                            </div>
                                        </div>
                                        <!-- If the subscription is active, but it has been cancelled, show a button to reactivate the listing. -->
                                        if (listing.CurrentSubscription.CancelledDate.HasValue)
                                        {
                                            <div class="note note-shadow note-danger">Subscription cancelled on: <strong>@listing.CurrentSubscription.CancelledDate.Value.ToShortDateString()</strong></div>
                                            <a href="/Subscriptions/Reactivate/@listing.CurrentSubscription.SubscriptionID" class="btn btn-block blue">Reactivate Subscription</a>
                                        }
                                        else
                                        {
                                            <!-- Otherwise, display a button to allow a user to configure their listing. -->
                                            <a href="/Listings/Create?listingIdentifier=@listing.ListingID" class="btn btn-block blue">Configure Listing</a>
                                        }
                                    }
                                    else
                                    {
                                        <!-- If there is no subscription, display a button so they can purchase a subscription. -->
                                        <div class="note note-shadow note-danger">No Active Subscription</div>
                                        <a href="/Listings/Create?listingIdentifier=@listing.ListingID" class="btn btn-block btn-danger">Purchase Subscription!</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <!-- If the user does not have any associated listings, display a button to allow them to create a listing. -->
    <div class="note note-success note-shadow">
        You haven't created a listing for your business yet.
        <a class="btn blue" href="/Listings/Create">Create One Now</a>
    </div>
}