﻿@model Models.Models.TradeLead

<div class="portlet">
    <div class="portlet-body">
        <div class="row">
            @*<div class="col-md-4 blog-img blog-tag-data">
                <img src="~/Content/assets/admin/pages/media/gallery/image3.jpg" alt="" class="img-responsive">
            </div>*@
            <div class="col-md-12 blog-article">
                <h3>
                    <a href="/TradeLeads/Details/@Model.TradeLeadID">
                        @Model.Title
                    </a>
                </h3>
                <div class="blog-tag-data">
                    <ul class="list-inline blog-tags">
                        <li>
                            @if (Model.IndustryList != null && Model.IndustryList.Any())
                            {
                                foreach (var industry in @Model.IndustryList)
                                {
                                    <a href="javascript:;">
                                        <i class="fa fa-tags"></i>
                                        @industry.Name
                                    </a>
                                }
                            }
                            else
                            {
                                <span>No industries specified.</span>
                            }
                        </li>
                    </ul>
                </div>
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-calendar"></i>
                        <a href="javascript:;">
                            @Model.CreateDate.ToLongDateString()
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn blue modal-button" data-tradelead-id="@Model.TradeLeadID">
            View Lead
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<hr />