﻿@model Models.Models.TradeLead

<div class="blog-tag-data">
    <h3 style="margin-top:0">@Model.Title</h3>
    @*<img src="~/Content/assets/admin/pages/media/gallery/item_img1.jpg" class="img-responsive" alt="">*@
    <div class="row">
        <div class="col-md-8">
            <ul class="list-inline blog-tags">
                <li>
                    @if (@Model.IndustryList != null && @Model.IndustryList.Count > 0)
                    {
                        foreach (var industry in @Model.IndustryList)
                        {
                            <a href="javascript:;">
                                <i class="fa fa-tags"></i>
                                @industry.Name
                            </a>
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="col-md-4 blog-tag-data-inner">
            <ul class="list-inline">
                <li>
                    <i class="fa fa-calendar"></i>
                    @Model.CreateDate.ToLongDateString()
                </li>
            </ul>
        </div>
    </div>
    <div class="news-item-page">
        @Html.Raw(Model.Body)
    </div>
</div>
<hr>
