﻿@model TemplateApplication.Models.ViewModels.TradeLeadCreateEditViewModel

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            @ViewBag.ButtonText
        </div>
    </div>

    <div class="portlet-body form">
        <form id="save-trade-lead-form" class="form-horizontal form-bordered" role="form">
            @Html.AntiForgeryToken()
            <div class="form-body">
                @Html.HiddenFor(model => model.TradeLead.TradeLeadID, new { Name = "TradeLead[TradeLeadID]" })
                <div class="form-group">
                    <label class="control-label col-md-1"><strong>Title</strong></label>
                    <div class="col-md-11">
                        @Html.TextBoxFor(model => model.TradeLead.Title, new { @class = "form-control", id = "Name", Name = "TradeLead[Title]" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1"><strong>Industries</strong></label>
                    <div class="col-md-4">
                        <select id="industry-select" class="form-control" name="TradeLead[IndustryList][][IndustryID]" multiple>
                            @foreach (var industry in Model.Industries)
                            {
                                if (Model.TradeLead != null)
                                {
                                    if (Model.TradeLead.IndustryList.Exists(m => m.IndustryID == industry.IndustryID))
                                    {
                                        <option value="@industry.IndustryID" selected>@industry.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@industry.IndustryID">@industry.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="@industry.IndustryID">@industry.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1"><strong>Body</strong></label>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.TradeLead.Body, new { @class = "form-control", id = "tradelead-body", Name = "TradeLead[Body]" })
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn blue pull-right">@ViewBag.ButtonText</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
