﻿@model Models.Models.Order

<div class="portlet light">
    <div class="portlet-body">
        <div>
            @Html.Partial("_Order", Model)
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#payment-tab-content" data-toggle="tab" aria-expanded="true">
                            <strong>Payment Details</strong>
                        </a>
                    </li>
                    <li class="">
                        <a href="#invoice-date-content" data-toggle="tab" aria-expanded="false">
                            <strong>Invoice Dates</strong>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="payment-tab-content">
                        <div class="row">
                            <div class="col-xs-12">
                                @if (Model.Status.Equals("Paid"))
                                {
                                    if (Model.Payment != null)
                                    {
                                        @Html.Partial("_Payment", Model.Payment)
                                    }
                                    else
                                    {
                                        <div class="note note-danger note-shadow">Payment could not be found.</div>
                                    }
                                }
                                else
                                {
                                    <div class="note note-danger note-shadow">This order is unpaid.</div>
                                    <div class="pull-right">
                                        @Html.ActionLink(linkText: "Pay Order", actionName: "Pay", controllerName: "Orders", routeValues: new { id = Model.OrderID }, htmlAttributes: new { @class = "btn btn blue" })
                                        @Html.ActionLink(linkText: "Delete Order", actionName: "Delete", controllerName: "Orders", routeValues: new { id = Model.OrderID }, htmlAttributes: new { @class = "btn btn btn-danger" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="invoice-date-content">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Invoice Date</th>
                                        <th>Invoice User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (!Model.InvoiceDates.Any())
                                    {
                                        <tr><td colspan="2">This order has not been invoiced.</td></tr>
                                    }
                                    else
                                    {
                                        foreach (var invoiceDate in Model.InvoiceDates)
                                        {
                                            <tr>
                                                <td>@invoiceDate.CreateDate</td>
                                                <td>@invoiceDate.CreateUserNameDisplay</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
