﻿@model Models.Models.Payment

<div class="note note-success note-shadow">This order was paid on <strong>@Model.PaymentDate.ToShortDateString()</strong>.</div>

<div class="row">
    <div class="col-md-6">
        <label class="control-label col-md-5"><strong>Payment Type:</strong></label>
        <p class="col-md-7">
            @Model.Type
        </p>
    </div>
</div>

@if (Model.Type.Equals("Check"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Bank:</strong></label>
                <p class="col-md-7">
                    @Model.CheckBankName
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Name:</strong></label>
                <p class="col-md-7">
                    @Model.CheckName
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Routing #:</strong></label>
                <p class="col-md-7">
                    @Model.CheckRoutingNumber
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Account #:</strong></label>
                <p class="col-md-7">
                    @Model.CheckAccountNumber
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Number:</strong></label>
                <p class="col-md-7">
                    @Model.CheckNumber
                </p>
            </div>
        </div>
    </div>
}
else if (Model.Type.Equals("ACH"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Bank:</strong></label>
                <p class="col-md-7">
                    @Model.TransferBankName
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Name:</strong></label>
                <p class="col-md-7">
                    @Model.TransferName
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Routing #:</strong></label>
                <p class="col-md-7">
                    @Model.TransferRoutingNumber
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Account #:</strong></label>
                <p class="col-md-7">
                    @Model.TransferAccountNumber
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Number:</strong></label>
                <p class="col-md-7">
                    @Model.TransferCheckNumber
                </p>
            </div>
        </div>
    </div>
}
else if (Model.Type.Equals("Credit Card"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Card Name:</strong></label>
                <p class="col-md-7">
                    @Model.CreditCardName
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Card Number:</strong></label>
                <p class="col-md-7">
                    @Model.CreditCardNumber
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5"><strong>Expiration:</strong></label>
                <p class="col-md-7">
                    @Model.CreditCardExpiration
                </p>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.PaymentDetails))
{
    <div class="col-md-12">
        <label class="control-label"><strong>Payment Details</strong></label>
    </div>
    <div class="col-md-12">@Model.PaymentDetails</div>
}


