﻿@model TemplateApplication.Models.ViewModels.TradeLeadDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/admin/pages/css/TradeLeadDetails")
}

@section PageTitle {
    Trade Lead Details
}

<div class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <!-- Display the details of the specific trade lead. This partial view contains all the fields of the trade lead. -->
                <!-- This partial view is also used in the quick view modal in the trade lead summary. -->
                @Html.Partial("_TradeLeadDetail", Model.TradeLead)
            </div>
        </div>
    </div>
</div>