﻿@model TemplateApplication.Models.ViewModels.TradeLeadCreateEditViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-summernote/summernote.css">
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")

    <style type="text/css">
        .portlet.box.blue > .portlet-title {
            background-color: #3B3F51 !important;
        }
    </style>
}

<!-- The form is stored as a partial view to be reused between the create and edit pages. -->
@Html.Partial("_TradeLeadForm", Model)

@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    @Scripts.Render("~/jQueryValidation")
    <script src="~/Content/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/TradeLead/TradeLeadScripts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            TradeLeadAdministration.init();
        });
    </script>
}