﻿@using Models.Models
@model TemplateApplication.Models.ViewModels.TradeLeadSummaryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <style type="text/css">
        .hiddens {
            display: none;
        }

        #tradelead-search-container .well {
            padding: 10px;
        }
    </style>
}

@section PageTitle {
    Trade Leads
}

<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">
                <div class="row">
                    <div id="tradelead-search-container" class="col-md-3">
                        <div class="well">
                            <h3 style="margin-top: 0">Search Trade Leads</h3>
                            <form id="AdvancedSearchForm" class="form-horizontal form-bordered">
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" name="search[Keyword]" class="form-control" placeholder="Keyword" value="@Model.PassedKeyword">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">

                                                    <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control" name="search[Start]" value="@Model.PassedStartDateValue" placeholder="Start Date">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control" name="search[End]" value="@Model.PassedEndDateValue" placeholder="End Date">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <select id="industry-select" class="form-control" name="search[IndustryIDs][]" data-live-search="true" data-selected-text-format="count" title="All Industries" multiple>
                                                        @foreach (Industry industry in Model.Industries)
                                                        {
                                                            if (Model.PassedIndustryID.HasValue && Model.PassedIndustryID.Value == industry.IndustryID)
                                                            {
                                                                <option value="@industry.IndustryID" selected="selected">@industry.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@industry.IndustryID">@industry.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue pull-right">Search</button>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 article-block">
                        <div id="SummaryDiv">
                            @Html.Partial("_TradeLeadSummary", Model.TradeLeads)
                        </div>
                        <div id="no-results-alert" class="note note-shadow note-danger @(Model.TradeLeads.Any() ? "hiddens" : "")">
                            No results found, please modify your search conditions and try again.
                        </div>
                        <button id="LoadButton" class="btn blue btn-block @(Model.TradeLeads.Any() ? "" : "hiddens")" data-page-number="1" data-loading-text="Loading....">Load More</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 col-sm-4 blog-sidebar">
                        <h3 class="text-center" style="margin-top: 0">Top Trade Leads</h3>
                        <hr />
                        <div class="top-news">
                            @if (Model.TopTradeLeads.Count() != 0)
                            {
                                foreach (TradeLead topLead in Model.TopTradeLeads)
                                {
                                    <a href="/TradeLeads/Details/@topLead.TradeLeadID" class="btn blue-hoki">
                                        <span>
                                            @topLead.Title
                                        </span>
                                        <em>@topLead.CreateDate.ToLongDateString()</em>
                                        <i class="fa fa-newspaper-o top-news-icon"></i>
                                    </a>
                                }
                            }
                            else
                            {
                                <div class="note note-shadow note-danger">Currently there are no trade leads in our database.</div>
                            }
                        </div>
                        <h3 class="text-center">Industries</h3>
                        <hr />
                        @if (Model.IndustryCounts != null && Model.IndustryCounts.Any())
                        {
                            <div class="blog-tag-data">
                                <ul class="list-inline blog-tags">
                                    <li>
                                        @foreach (var industry in Model.IndustryCounts)
                                        {
                                            <a href="/TradeLeads?industry=@industry.IndustryID">
                                                <i class=" fa fa-tags">
                                                </i>
                                                @industry.Name (@industry.IndustryCount)
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="note note-shadow note-info">
                                There are no trade leads with industry tags in our system currently.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to display the quick details for a Trade Lead. -->
<div class="modal" id="TradeLeadQuickViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="col-md-12 news-page blog-page">
                    <div class="row">
                        <div id="tradelead-detail-container">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        (function () {

            $(document).ready(function () {

                $('.date-picker').datepicker({
                    orientation: "right",
                    autoclose: true
                });

                $('#industry-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check',
                    size: 8
                });

                // Add a listener for the quick view buttons with the .modal-button class.
                // Added to the body so dynamically created elements will work correctly.
                $('body').on('click', '.modal-button', function () {
                    var tradeLeadID = $(this).data("tradelead-id");
                    AjaxMethods.GetTradeLeadDetail(tradeLeadID)
                        .done(function (data) {
                            $("#tradelead-detail-container").html(data);
                            $('#TradeLeadQuickViewModal').modal('show');
                        })
                        .fail(function () {
                            bootbox.alert("Oops, something went wrong.");
                        });
                });

                // Event handler for the load button.
                $("#LoadButton").click(function () {
                    var $loadButton = $(this);
                    $loadButton.button('loading');
                    var currentPage = parseInt($loadButton.data("page-number"), 10);
                    var nextPage = currentPage + 1;
                    // Grab the search criteria from the search form.
                    var search = $("#AdvancedSearchForm").serializeObject();
                    AjaxMethods.SearchTradeLeads(search, nextPage, 25)
                        .done(function (data) {
                            $loadButton.button("reset");
                            // If no HTML is returned, there are no more results.
                            if ($.trim(data) === "") {
                                $("#no-results-alert").show();
                                $loadButton.hide();
                            } else {
                                $("#SummaryDiv").append(data);
                                $loadButton.data("page-number", nextPage);
                            }
                        })
                        .fail(function () {
                            $loadButton.button('reset');
                            bootbox.alert("Oops, something went wrong.");
                        });
                });
            });

            // Override the default functionalty of the form submit.
            $("#AdvancedSearchForm").submit(function (e) {
                var form = $(this);
                var search = form.serializeObject();
                Metronic.startPageLoading({ message: 'Please wait...' });

                AjaxMethods.SearchTradeLeads(search, 1, 25)
                    .done(function (data) {
                        if ($.trim(data) === "") {
                            $("#no-results-alert").show();
                            $("#LoadButton").hide();
                        } else {
                            $("#no-results-alert").hide();
                            $("#LoadButton").show();
                        }
                        Metronic.stopPageLoading();
                        $("#SummaryDiv").html(data);
                    })
                    .fail(function () {
                        Metronic.stopPageLoading();
                        bootbox.alert("Oops, something went wrong.");
                    });
                // If the search form has been used, reset the current page number counter.
                $("#LoadButton").data("page-number", 1);
                return false;
            });
        }());
    </script>
}