﻿@model TemplateApplication.Models.ViewModels.ListingViewModel

<div class="portlet light" id="form_wizard_1">
    <div class="portlet-body form">
        @if (Model.Listing != null)
        {
            <div class="note note-shadow note-info">
                <strong>Please make your required changes to your business listing. Changes made to the number of subscribed directories or the number of description lines may result in additional charges.</strong>
            </div>
        }

        <form action="@Model.ListingFormAction" class="form-horizontal" id="listing-form" method="POST">
            @Html.AntiForgeryToken()
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a href="#tab1" data-toggle="tab" class="step">
                                <span class="number">
                                    1
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> <strong>Contact Information</strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="step">
                                <span class="number">
                                    2
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> <strong>Company Description</strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" class="step active">
                                <span class="number">
                                    3
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> <strong>Description Lines</strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab" class="step">
                                <span class="number">
                                    4
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> <strong>Confirm</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress" role="progressbar">
                        <div class="progress-bar progress-bar-success">
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="tab-pane active" id="tab1">
                            @Html.Partial("_Partial1", Model)
                        </div>
                        <div class="tab-pane" id="tab2">
                            @Html.Partial("_Partial2", Model)
                        </div>
                        <div class="tab-pane" id="tab3">
                            @Html.Partial("_Partial3", Model)
                        </div>
                        <div class="tab-pane" id="tab4">
                            <h3 class="block">Confirm your account</h3>
                            <hr />
                            <h3 class="form-section">Contact Information</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Business Name</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[BusinessName]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Business Contact</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[BusinessContact]"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Contact Number</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[ContactNumber]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Contact Email</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[ContactEmail]"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Website URL</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Website]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Address</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Street 1</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Address][Street1]"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Street 2</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Address][Street2]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>City</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Address][City]"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>State</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Address][StateID]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Zip</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Address][Zip]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Company Description</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Description</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Description]"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Product / Services Description</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[ProductDescription]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Industries</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[IndustryList][][IndustryID]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Description Lines</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            <strong>Directories</strong>
                                        </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-display="Listing[Directories][][DirectoryID]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="javascript:;" class="btn default button-previous">
                                <i class="fa fa-chevron-left"></i> Back
                            </a>
                            <a href="javascript:;" class="btn blue button-next">
                                Continue <i class="fa fa-chevron-right"></i>
                            </a>
                            <a href="javascript:;" class="btn green button-submit">
                                @Model.SubmitButtonText<i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>