﻿@using Models.Models
@model Listing

<div class="portlet listing-portlet">
    <div class="portlet-title">
        <div class="caption">@Model.BusinessName</div>
        <div class="actions">
            @if (@Model.Address != null)
            {
                <i class="fa fa-map-marker"></i>
                @(String.Format("{0}, {1}", Model.Address.City, Model.Address.State))
            }
        </div>
    </div>
    <div class="portlet-body"><div class="row"><div class="col-md-12"><p>@Model.Description</p></div></div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog-tag-data">
                <ul class="list-inline blog-tags">
                    <li>
                        @if (Model.IndustryList != null && Model.IndustryList.Any())
                        {
                            foreach (Industry industry in Model.IndustryList)
                            {
                                <a href="javascript:;">
                                    <i class="fa fa-tags"></i>
                                    @industry.Name
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @if (Model.DescriptionLines != null && Model.DescriptionLines.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    Code
                                </th>
                                <th>
                                    Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DescriptionLines != null && Model.DescriptionLines.Any())
                            {
                                foreach (var description in Model.DescriptionLines)
                                {
                                    <tr>
                                        <td>
                                            @description.Code
                                        </td>
                                        <td>
                                            @description.Body
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="pull-right">
        <button type="button" class="btn blue modal-button" data-listing-id="@Model.ListingID">
            View Listing
        </button>
    </div>
    <div class="clearfix"></div>
</div>