﻿@model IEnumerable<Models.Models.Note>

@if (Model.Any())
{
    foreach (var note in Model)
    {
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <strong>@note.CreateDate</strong>
                    </div>
                    <div class="actions">
                        <strong>@note.CreateUsername</strong>
                    </div>
                </div>
                <div class="portlet-body">
                    @note.NoteText
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="note note-danger note-shadow">There are no listing notes for this listing.</div>
}
