﻿@using Models.Models
@model Listing

<div id="listing-detail-container" class="form-horizontal">
    <div class="form-body">
        <h1 class="margin-bottom-20"><strong>@Model.BusinessName</strong></h1>

        @if (Model.IndustryList != null && Model.IndustryList.Any())
        {
            <div class="blog-tag-data">
                <ul class="list-inline blog-tags">
                    <li>
                        @if (Model.IndustryList != null && Model.IndustryList.Any())
                        {
                            foreach (Industry industry in Model.IndustryList)
                            {
                                <a href="javascript:;">
                                    <i class="fa fa-tags"></i>
                                    @industry.Name
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="note note-shadow note-info">No industries specified.</div>
        }

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="form-section">Contact Information</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><strong>Contact:</strong></label>
                            <div class="col-md-8">
                                <p class="form-control-static">
                                    @Model.BusinessContact
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><strong>Number:</strong></label>
                            <div class="col-md-8">
                                <p class="form-control-static">
                                    @Model.ContactNumber
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><strong>Fax:</strong></label>
                            <div class="col-md-8">
                                <p class="form-control-static">
                                    @Model.FaxNumber
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><strong>Email:</strong></label>
                            <div class="col-md-8">
                                <p class="form-control-static">
                                    @Model.ContactEmail
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><strong>Website:</strong></label>
                            <div class="col-md-8">
                                <p class="form-control-static">
                                    @Model.Website
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <h3 class="form-section">Address</h3>
                <hr />
                @if (Model.Address != null)
                {
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Street:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static">
                                        @Model.Address.Street1
                                    </p>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Address.Street2))
                        {
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><strong>Street:</strong></label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            @Model.Address.Street2
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>City:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static">
                                        @Model.Address.City
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>State:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static">
                                        @Model.Address.State
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"><strong>Zip:</strong></label>
                                <div class="col-md-8">
                                    <p class="form-control-static">
                                        @Model.Address.Zip
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="note note-danger note-shadow">
                        No address information on file.
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="form-section">About</h3>
                <hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <p class="form-control-static">
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3 class="form-section">Products / Services</h3>
                <hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <p class="form-control-static">
                            @Model.ProductDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="form-section">Description Codes</h3>
                <hr />
                @if (Model.DescriptionLines != null && Model.DescriptionLines.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scrollable">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="uppercase">
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var description in Model.DescriptionLines)
                                        {
                                            <tr>
                                                <td>
                                                    @description.Code
                                                </td>
                                                <td>
                                                    @description.Body
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="note note-danger note-shadow">
                        No description information on file.
                    </div>
                }
            </div>
        </div>
    </div>
</div>