﻿@model TemplateApplication.Models.ViewModels.ListingViewModel

<h3 class="form-section">Contact Information</h3>
<hr />
@Html.HiddenFor(model => model.Listing.ListingID, new { Name = "Listing[ListingID]" })
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">
                <strong>Business Name</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.BusinessName, new { @class = "form-control", Name = "Listing[BusinessName]" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Business Contact</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.BusinessContact, new { @class = "form-control", Name = "Listing[BusinessContact]" })
                <span class="help-block">
                    Name of the person in your business to contact.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Contact Number</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.ContactNumber, new { @class = "form-control", Name = "Listing[ContactNumber]" })
                <span class="help-block">
                    Contact number for your business.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Fax Number</strong>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.FaxNumber, new { @class = "form-control", Name = "Listing[FaxNumber]" })
                <span class="help-block">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Contact Email</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.ContactEmail, new { @class = "form-control", Name = "Listing[ContactEmail]" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Website URL</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.Website, new { @class = "form-control", Name = "Listing[Website]" })
                <span class="help-block">
                    Website for your business.
                </span>
            </div>
        </div>
    </div>
</div>

<h3 class="form-section">Address</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Street 1</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.Address.Street1, new { @class = "form-control", Name = "Listing[Address][Street1]" })
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Street 2</strong>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.Address.Street2, new { @class = "form-control", Name = "Listing[Address][Street2]" })
                <span class="help-block">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>City</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.Address.City, new { @class = "form-control", Name = "Listing[Address][City]" })
            </div>
        </div>
    </div>
    <div id="state-select-container" class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>State</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Listing.Address.StateID, new SelectList(@Model.States, "StateID", "Name"), "", new { @class = "form-control", id = "state-select", Name = "Listing[Address][StateID]", title = "State" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Zip</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Listing.Address.Zip, new { @class = "form-control", Name = "Listing[Address][Zip]" })
                <span class="help-block">
                </span>
            </div>
        </div>
    </div>
</div>