﻿@using Models.Models
@model TemplateApplication.Models.ViewModels.ListingViewModel


<h3 class="block">
    Directory Selection
    <span class="popovers" data-container="body" data-trigger="hover" data-placement="right" data-content="Your listing will appear in the directories you have selected. There is a charge for each directory selected.">
        <i class="fa fa-question-circle"></i>
    </span>
</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">
                <strong>Select Directories</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                <div id="directory-select-container">
                    <select id="directory-select" class="form-control" name="Listing[Directories][][DirectoryID]" data-live-search="true" data-selected-text-format="count" title="Select Directories" multiple>
                        @foreach (var directory in Model.Directores)
                        {
                            if (Model.Listing != null)
                            {
                                if (Model.Listing.Directories.Exists(m => m.DirectoryID == directory.DirectoryID))
                                {
                                    <option value="@directory.DirectoryID" selected>@directory.Name</option>
                                }
                                else
                                {
                                    <option value="@directory.DirectoryID">@directory.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@directory.DirectoryID">@directory.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="block">
    Description Lines
    <span class="popovers" data-container="body" data-trigger="hover" data-placement="right" data-content="Provide description lines to give more information about your business. Users can search for description lines you provide. There is a charge for each description line.">
        <i class="fa fa-question-circle"></i>
    </span>
</h3>
<hr />
<div id="description-lines-container">
    @if (Model.Listing != null && Model.Listing.DescriptionLines.Any())
    {
        foreach (Description description in Model.Listing.DescriptionLines)
        {
            <div class="row description-line-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <strong>Code</strong>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(modelItem => description.Code, new { @class = "form-control", Name = "Listing[DescriptionLines][][Code]" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><strong>Description</strong></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(modelItem => description.Body, new { @class = "form-control", Name = "Listing[DescriptionLines][][Body]" })
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row description-line-row">
            <div class=" col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <strong>Code</strong>
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Listing[DescriptionLines][][Code]" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4"><strong>Description</strong></label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="Listing[DescriptionLines][][Body]" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" id="add-description-button" class="btn">Add Another Description</button>
            <button type="button" id="remove-description-button" class="btn">Remove Description</button>
        </div>
    </div>
</div>
