﻿@model TemplateApplication.Models.ViewModels.ListingViewModel

<h3 class="block">Company Information</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Business Description</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Listing.Description, new { @class = "form-control", Name = "Listing[Description]" })
                <span class="help-block">
                    A description of your company.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Product / Services Description</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Listing.ProductDescription, new { @class = "form-control", Name = "Listing[ProductDescription]" })
                <span class="help-block">
                    A description of the products or services offered by your business.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="industry-select-container" class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">
                <strong>Industries</strong>
                <span class="required" aria-required="true">
                    <i class="fa fa-circle"></i>
                </span>
            </label>
            <div class="col-md-8">
                <select id="industry-select" class="form-control" name="Listing[IndustryList][][IndustryID]" title="Select Industries" data-live-search="true" data-selected-text-format="count" multiple>
                    @foreach (var industry in Model.Industries)
                    {
                        if (Model.Listing != null)
                        {
                            if (Model.Listing.IndustryList.Exists(m => m.IndustryID == industry.IndustryID))
                            {
                                <option value="@industry.IndustryID" selected>@industry.Name</option>
                            }
                            else
                            {
                                <option value="@industry.IndustryID">@industry.Name</option>
                            }
                        }
                        else
                        {
                            <option value="@industry.IndustryID">@industry.Name</option>
                        }
                    }
                </select>
                <span class="help-block">
                    Select industries related to your business.
                </span>
            </div>
        </div>
    </div>
</div>


