﻿@model TemplateApplication.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    @Styles.Render("~/Content/assets/global/plugins/bootstrap-select/BootstrapSelectStyling")
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" />


    <style type="text/css">
        .exp {
            width: 80px;
            height: 80px;
            background-color: #3598dc;
            -ms-border-radius: 100%;
            border-radius: 100%;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            color: white;
        }

        #testing-div .fa {
            font-size: 28px !important;
        }
    </style>
}

<div id="testing-div" class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-body">
        <div class="col-md-4" style="text-align: center;">
            <div class="exp">
                <i class="fa fa-institution fa-3x"></i>
            </div>
            <h4><a href="~/Listings">Business Discovery</a></h4>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="exp">
                <i class="fa fa-share-alt fa-3x"></i>
            </div>
            <h4><a href="~/TradeLeads">Trade Leads</a></h4>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="exp">
                <i class="fa fa-newspaper-o fa-3x"></i>
            </div>
            <h4>
                <a href="">Industry News</a>
            </h4>
        </div>
    </div>
</div>


<div class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-body">
        <h3>I'm looking for a business...</h3>
        <hr />
        <form action="/Listings" method="get" class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="keyword-input" type="text" class="form-control popovers" placeholder="Keyword" name="keyword" data-container="body" data-trigger="hover" data-placement="right" data-content="Text to describe what fields will be used in the search." />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="listing-directory-select" class="form-control" name="directory" title="All Directories">
                                    <option value="">All Directories</option>
                                    @foreach (var directory in Model.Directories)
                                    {
                                        <option value="@directory.DirectoryID">@directory.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="listing-industry-select" class="form-control" name="industry" title="All Industries">
                                    <option value="">All Industries</option>
                                    @foreach (var industry in Model.Industries)
                                    {
                                        <option value="@industry.IndustryID">@industry.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="state-select" class="form-control" name="state" title="All States">
                                    <option value="">All States</option>
                                    @foreach (var state in Model.States)
                                    {
                                        <option value="@state.StateID">@state.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 pull-right">
                        <button type="submit" class="btn blue pull-right">Search Business Listings</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="listing-search-container" class="row">
            <div class="col-md-12">
                @if (Model.ListingIndustryCounts != null && Model.ListingIndustryCounts.Any())
                {
                    <h3>Browse Listing Industries</h3>
                    <div class="blog-img blog-tag-data">
                        <ul class="list-inline blog-tags">
                            <li class="col-md-12">
                                @foreach (var industry in Model.ListingIndustryCounts)
                                {
                                    <a href="/Listings?industry=@industry.IndustryID">
                                        <i class="fa fa-tags"></i>
                                        @industry.Name (@industry.IndustryCount)
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-body">
        <h3>I'm a business looking for leads...</h3>
        <hr />
        <form action="/TradeLeads" method="get" class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="keyword-input" type="text" class="form-control popovers" placeholder="Keyword" name="keyword" data-container="body" data-trigger="hover" data-placement="right" data-content="Text to describe what fields will be used in the search." />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control date-picker" name="start" placeholder="Start Date" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control date-picker" name="end" placeholder="End Date" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="tradelead-industry-select" class="form-control" name="industry" title="All Industries">
                                    <option value="">All Industries</option>
                                    @foreach (var industry in Model.Industries)
                                    {
                                        <option value="@industry.IndustryID">@industry.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 pull-right">
                        <button type="submit" class="btn blue pull-right">Search Trade Leads</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="tradelead-search-container" class="row">
            <div class="col-md-12">
                @if (Model.TradeLeadIndustryCounts != null && Model.TradeLeadIndustryCounts.Any())
                {
                    <h3>Browse Trade Lead Industries</h3>
                    <div class="blog-img blog-tag-data">
                        <ul class="list-inline blog-tags">
                            <li class="col-md-12">
                                @foreach (var industry in Model.TradeLeadIndustryCounts)
                                {
                                    <a href="/TradeLeads?industry=@industry.IndustryID">
                                        <i class=" fa fa-tags">
                                        </i>
                                        @industry.Name (@industry.IndustryCount)
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="portlet light col-md-offset-2 col-md-8">
    <div class="portlet-title">
        <h3>Useful Links for Doing Business Internationally</h3>
    </div>
    <div class="portlet-body">
        <table class="table">
            <tr>
                <td><a href="http://www.cietac.org/index.cms">CIETAC</a></td>
                <td><a href="http://www.export.gov/tradeleads/">Export.gov</a></td>
                <td><a href="https://www.tradecommissioner.gc.ca/">Canada Trade Comission</a></td>
            </tr>
            <tr>
                <td><a href="http://www.austrade.gov.au/">Australia Trade Commission</a></td>
                <td><a href="http://www.mexconnect.com/articles/3308-m%C3%A9xico-s-trade-commissions">Mexico</a></td>
                <td><a href="http://www.indiatradefair.com/">India Trade Promotion</a></td>
            </tr>
            <tr>
                <td><a href="http://www.jftc.go.jp/en/">Japan Fair Trade Commission</a></td>
                <td><a href="http://www.brazilcouncil.org/">Brazil - US Business Council</a></td>
                <td><a href="http://www.itac.org.za/">South African Trade Commission</a></td>
            </tr>
        </table>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/BootstrapSelectScripts")
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#listing-industry-select").selectpicker();
            $("#listing-directory-select").selectpicker();
            $("#state-select").selectpicker();
            $("#tradelead-industry-select").selectpicker();

            $('.date-picker').datepicker({
                autoclose: true
            });
        });
    </script>
}
